/*.textarea{
    width: 200px;
}
.radio{
border: 0px;
}
input[type="text"]{
width: 100px;}

#form_isp{
border: 1px solid #d7d7d7;
    margin: auto ;

}
#form_isp tr td {
padding-left: 20px;
}
.rem-button{
width: 20px;
height:20px;
 border-radius: 50%;
}
.commit-button{
margin-top: 20px;
margin-bottom: 20px;
background-color: skyblue;
border-radius: 15px;
}

.legend{
}
*/
.pull_right
{
    text-align:right;
    padding-top:15px;
    padding-left:35px;
    width:250px;
}

.pull_center
{
    text-align:center;
    padding-top:15px;
}

.pull_left
{
    
    padding-top:15px;
}



.customized {
    margin: 20px 0 0;
    margin-left: 3px;
}




.ip_address
{
    width:138px;
}
.subnet
{
    width:40px;
}
.cost
{
    width:100px;
}
.pull_center
{
    padding-left:135px;
    padding-top:15px;
}
.isp_data
{
    width:150px;
}
#form_isp  tr td
{
}
.isp_billing_heading
{
    padding-left:20px;
}
.radio
{
    padding-left:80px
}
.isp_buttons
{
    width:40px;
    height:30px;
}
.heading1
{
    margin-left:20px;
}
.heading1 table
{
    margin-left:10px;
}
