.input{

margin-left:50px;}

  .pull_right
{
    width: 200px;
    text-align:right;
    padding-top:15px;
}

.pull_center
{
margin-left:50px;
    text-align:center;
    padding-top:15px;
}

.pull_left
{
padding-left: 20px;
    padding-top:15px;
}



.customized {
    margin: 20px 0 0;
    margin-left: 3px;
}




.ip_address
{
    width:138px;
}
.subnet_box
{
    width:40px;
}
.cost
{
    width:100px;
}
.pull_center
{
    padding-top:15px;
}
.isp_data
{
    width:150px;
}
#form_isp  tr td
{
}
.isp_billing_heading
{
    padding-left:20px;
}
.radio
{
    padding-left:80px
}
.isp_buttons
{
    width:40px;
    height:30px;
}
.input_box{
width: 150px;
}

