.form_table{
border-spacing: 8px 2px;
}
.form_table td {
padding: 6px;
}

.pull_left{
text-align:left;
}
.pull_center{
text-align:center;}

/*.input_box{
padding-top:10px;
padding-left:20px;
width:150px;
}/*
.input{
padding-left:30px;
padding-top:10px;
}
*/
/*.pull_right{
text-align:right;
}/*
.subnet{

width:40px;}

.dim{
text-align:right;
padding-left:70px;
}
#d_btn{

padding-top:20px;}

#add_pop{

padding-left:50px;}*/
/*.input{
padding-left:100px;
}
.intf{

margin-left: 40px;
width:150px;}

.intf_td{

padding-left:20px;}
*/
.pull_right{
    text-align: right;
    padding-left: 20px;
    width: 180px;
}

.button_wrap {
    float:right;
}
/*.new_pull_right{
    text-align: right;
    width: 150px;
}

.new_pull_right input{

width: 100px;}

.new_pull_right select{
 margin-left:10px;
width:100px;
}
.new_pull_left input{
padding-right:10px;
width:100px;
}

.heading1{
margin-left:30px;
padding-bottom:20px;
}
.input{
margin-top:10px;
    width: 160px;}

.pull_center{
text-align:center;
}
.heading2{
padding-left:70px;
width: 210px;
}
.subnet{
margin-top: 10px;
width:50px;}
table{

padding-top:15px;
padding-bottom:10px;}

#buton{
padding-top:20px;
}
#remove_btn{
text-align:left;
}
textarea{
    margin-top: 10px;
    width: 194px;
    height:82px;}*/
.subnet{
width:60px;
}
#button_padding{
    padding-bottom: 30px;
text-align:right;
}


.port{
width:60px;
}

.small{
width:60px;
}
/*#traffic_button{
 margin-top:10px;
padding-bottom: 30px;
text-align:right;
}*/

#traffic_diversion_common{
margin-bottom:15px;
}
.notes_textarea{
width:600px;
height:200px;
}

#filter_common{
float:right;
width: 100px;
}



.isp_token {
width:320px;
}

.bgp_community
{
    padding-left:10px;
    width:500px;
}
.ae_interface
{
    width:265px;
}
.form_heading{
    padding-bottom:20px;
    padding-top:15px
}
