routing-options {		
    flow {		
        route {{ routing_options[0].route }} {		
            match {		
                destination {{ routing_options[0].destination }};		
                protocol {{ routing_options[0].protocol }};		
            }		
            then community {{ routing_options[0].community }};		
        }		
    }		
}		
