interfaces {
{{ interfaces[0].interface_name }} {
## Interface from VR-ISP-3 to VR-CORE
unit {{ interfaces[0].interface_configuration[0].unit }} {
description " {{ interfaces[0].interface_configuration[0].description }} ";
encapsulation ethernet;
## peer unit is the IFL of VR-ISP-3 logical tunnel interface connected to VR-CORE
peer-unit {{ interfaces[0].interface_configuration[1].unit }};
family inet {
address {{ interfaces[0].interface_configuration[0].ipv4_address }};
}
}
## Interface from VR-CORE to VR-ISP-3
unit {{ interfaces[0].interface_configuration[1].unit }} {
description " {{ interfaces[0].interface_configuration[1].description }}";
encapsulation ethernet;
## peer unit is the IFL of VR-CORE logical tunnel interface connected to VR-ISP-3
peer-unit {{ interfaces[0].interface_configuration[0].unit }};
family inet {
address {{ interfaces[0].interface_configuration[1].ipv4_address }};
}
}
}
{{ interfaces[2].interface_name }} {
vlan-tagging;
## Interface from VR-ISP-3 to ISP-3
unit {{ interfaces[2].interface_configuration[0].unit }} {
description " {{ interfaces[2].interface_configuration[0].description }} ";
## vlan id matches unit IFL
vlan-id {{ interfaces[2].interface_configuration[0].vlan_id }};
family inet {
address {{ interfaces[2].interface_configuration[0].ipv4_address }};
}
}
}
{{ interfaces[1].interface_name }} {
## VR-ISP-3 Loopback Address
unit {{ interfaces[1].interface_configuration[0].unit }} {
description " {{ interfaces[1].interface_configuration[0].description }} ";
family inet {
address {{ interfaces[1].interface_configuration[0].ipv4_address }};
}
}
}
}
routing-options {
rib-groups {
## VR-ISP-3 Rib Group Creation
{{ routing_options.rib_group_name }} {
import-rib [ {{ routing_options.rib_table }} VR-CORE.inet.0 ];
}
}
}
policy-options {
## ISP-3 Export Policy Creation
policy-statement {{ policy_options.name }} {
term Send_Aggregate-0 {
from {
protocol aggregate;
prefix-list PL-Aggregate-Export;
}
then accept;
}
term Send_ClientRoutes-0 {
from {
protocol bgp;
prefix-list PL-Empty-Export;
}
then accept;
}
term Send_ClientRoutes-Expand-1 {
from {
protocol bgp;
prefix-list PL-Empty-Export;
}
then {
as-path-expand last-as count 1;
accept;
}
}
term Send_ClientRoutes-Expand-2 {
from {
protocol bgp;
prefix-list PL-Empty-Export;
}
then {
as-path-expand last-as count 2;
accept;
}
}
term Send_ClientRoutes-Expand-3 {
from {
protocol bgp;
prefix-list PL-Empty-Export;
}
then {
as-path-expand last-as count 3;
accept;
}
}
term Send_ClientRoutes-Expand-4 {
from {
protocol bgp;
prefix-list PL-Empty-Export;
}
then {
as-path-expand last-as count 4;
accept;
}
}
term Send_ClientRoutes-Expand-5 {
from {
protocol static;
prefix-list PL-Empty-Export;
}
then {
as-path-expand last-as count 5;
accept;
}
}
term FINAL {
then reject;
}
}
}
routing-instances {
VR-CORE {
## add interface to VR-CORE that connects to VR-ISP-3 to VR
interface {{ interfaces[0].interface_name }}.{{ interfaces[0].interface_configuration[1].unit }};
protocols {
ospf {
area 0.0.0.0 {
## add interface to VR-CORE that connects to VR-ISP-3 to OSPF
interface {{ interfaces[0].interface_name }}.{{ interfaces[0].interface_configuration[1].unit }};
}
}
}
}
## Create VR for the new ISP
{{ routing_options.rib_group_name }} {
instance-type virtual-router;
## add interface connecting VR-CORE to VR
interface {{ interfaces[0].interface_name }}.{{ interfaces[0].interface_configuration[0].unit }};
## add interface connecting ISP-3 to VR
interface {{interfaces[2].interface_name }}.{{ interfaces[2].interface_configuration[0].unit }};
## add Loopback Interface
interface {{interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[0].unit }};
routing-options {
aggregate {
## add aggregate addresses
route {{ routing_instance.destination_network }};
}
## add local autonomous system number
autonomous-system {{ routing_instance.local_as }};
}
protocols {
bgp {
local-as {{ routing_instance.local_as }} ;
## add group new to the new ISP
group {{ routing_instance.bgp_group }} {
type external;
## add local address for BGP
local-address {{ routing_instance.local_address }};
export {{ routing_instance.export_routes }};
peer-as {{ routing_instance.peer_as }};
## add peer address of the ISP
neighbor {{ routing_instance.neighbor_ip }} {
family inet {
unicast {
## attach rib group created in global routing options
rib-group {{ routing_options.rib_group_name }};
}
}
}
}
}
ospf {
area 0.0.0.0 {
## add interface to ISP as passive into ospf
interface {{ interfaces[2].interface_name }}.{{ interfaces[2].interface_configuration[0].unit }} {{ routing_instance.ospf_interface_state }};
## add interface to VR-CORE
interface {{ interfaces[0].interface_name }}.{{ interfaces[0].interface_configuration[0].unit }};
## add Loopback
interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[0].unit }};
}
}
}
}
}
