
{% if filter.filter_type is equalto "customer" %}


set policy-options prefix-list SFPL-C-{{ filter.customer }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
set policy-options prefix-list SFPL-C-{{ filter.customer }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }} {{ filter.network_prefix_ip }}/{{ filter.network_prefix_subnet_ip }}



set firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} from destination-prefix-list PL-Empty-Export  
set firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} from destination-prefix-list SFPL-C-{{ filter.customer }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
{% if filter.protocol is defined %}
set firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} from protocol {{ filter.protocol }}
{% endif %}
{% if filter.port_no is defined %}
set firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} from port {{ filter.port_no }}
{% endif %}
{% if filter.protocol is defined %}
set firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} then count Srvc-C-{{ filter.customer }}-Discard-{{ filter.service }} discard
{% endif %}

set accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Srvc-C-{{ filter.customer }}-Discard-{{ filter.service }}
insert firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} before term Srvc-FilterHit-Final 



{% elif filter.filter_type is equalto "global" %}


set policy-options prefix-list SFPL-Global-1-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
set policy-options prefix-list SFPL-Global-1-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }} {{ filter.network_prefix_ip }}/{{ filter.network_prefix_subnet_ip }}


set firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} from source-prefix-list SFPL-Global-1-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
{% if filter.protocol is defined %}
set firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} from protocol {{ filter.protocol }}
{% endif %}
{% if filter.port_no is defined %}
set firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} from port {{ filter.port_no }}
{% endif %}
{% if filter.protocol is defined %}
set firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} then count Gbl-Discard-{{ filter.service }} discard
{% endif %}
set accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Gbl-Discard-{{ filter.service }}
insert firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} before term Gbl-Continue-Final




{% elif filter.filter_type is equalto "local" %}


set policy-options prefix-list SFPL-POP-{{ filter.pop_name }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
set policy-options prefix-list SFPL-POP-{{ filter.pop_name }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }} {{ filter.network_prefix_ip }}/{{ filter.network_prefix_subnet_ip }}





set firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} from destination-prefix-list PL-Empty-Export
set firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} from destination-prefix-list SFPL-POP-{{ filter.pop_name }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}

{% if filter.protocol is defined %}
set firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} from protocol {{ filter.protocol }}
{% endif %}
{% if filter.port_no is defined %}
set firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} from port {{ filter.port_no }}
{% endif %}
{% if filter.protocol is defined %}
set firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} then count Ctrl-Discard-{{ filter.service }} discard
{% endif %}

set accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Ctrl-Discard-{{ filter.service }}

insert firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} before term Ctrl-Continue-Final


{% endif %}

