{# INTERFACES BLOCK #}
{# ###################################### #}
{% for item in interfaces %}
{% for item3 in item.interface_configuration[:1] %}
{% for item4 in  item3 %}
{% if  "vlan" in item4 %}
set interfaces {{ item.interface_name }}  vlan-tagging
{% endif %}
{% endfor %}
{% endfor %}
{% for item2 in item.interface_configuration %}
{% if item2.description is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} description "{{ item2.description }}"
{% endif %}
{% if "lt" in item.interface_name  %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} encapsulation ethernet
{% endif %}
{% if item2.vlan_id is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  vlan-id {{ item2.vlan_id }}
{% endif %}
{% if item2.ipv4_address is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  family inet address {{ item2.ipv4_address }}
{% endif %}
{% if item2.peer_unit is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  peer-unit {{ item2.peer_unit }}
{% endif %}

{% if  item2.tunnel is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} tunnel source {{item2.tunnel.source}}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} tunnel destination {{item2.tunnel.destination}}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} tunnel routing-instance  destination {{item2.tunnel.routing_instance_destination}}
{% endif %}

{% endfor %}
{% endfor %}

set policy-options prefix-list GPL-C-{{ customer_name }} {{connection.endpoint_ip_remote}}
  

{% if first_conn is equalto "yes" %}

set accounting-options filter-profile OTE-Stats counters OTE-C-{{ customer_name }}

set firewall family inet filter OTE-Stats term GPL-C-{{ customer_name }} from source-prefix-list GPL-LOCAL
set firewall family inet filter OTE-Stats term GPL-C-{{ customer_name }} from destination-prefix-list GPL-C-{{ customer_name }}
set firewall family inet filter OTE-Stats term GPL-C-{{ customer_name }} from protocol gre
set firewall family inet filter OTE-Stats term GPL-C-{{ customer_name }} then count OTE-C-{{ customer_name }} 
set firewall family inet filter OTE-Stats term GPL-C-{{ customer_name }} then accept
                

set routing-options rib-groups VR-C-{{ customer_name }} import-rib [ VR-C-{{ customer_name }}.inet.0 VR-CORE.inet.0 VR-INSERTION.inet.0 ]

{% if net_srv_prefix_array is defined %}
      

set policy-options prefix-list  CPL-C-{{ customer_name }}.ALL-PREFIXES apply-path "policy-options prefix-list <CPL-C-{{ customer_name }}-*> <*>"

        {% for netprefixentry in net_srv_prefix_array %}

        {% if netprefixentry is not equalto "ALL-PREFIXES" %}
set policy-options prefix-list CPL-C-{{ customer_name }}-{{netprefixentry}} {{netprefixentry}}
        {% endif %}
                
        {% endfor %}

        
set policy-options policy-statement {{ customer_name }}_Export term Final then reject
     
set policy-options policy-statement {{ customer_name }}_Import term Accept_Expected_Only from prefix-list CPL-C-{{ customer_name }}.ALL-PREFIXES
set policy-options policy-statement {{ customer_name }}_Import term Accept_Expected_Only then accept
set policy-options policy-statement {{ customer_name }}_Import term Final then reject

{% endif %}



{% if isp is defined %}
{% for isp_entry in isp %}

set routing-options rib-groups VR-C-{{ customer_name }} import-rib [ VR-C-{{ customer_name }}.inet.0 VR-{{ isp_entry.isp_name }}.inet.0]

set policy-options policy-statement {{ isp_entry.isp_name  }}_Offnet_Export term Send_ClientRoutes-{{ isp_entry.isp_asn_level }} from prefix-list CPL-C-{{ customer_name }}.ALL-PREFIXES

{% endfor %}
{% endif %}


set routing-instances VR-CORE interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[1].unit}}
set routing-instances VR-CORE protocols ospf area 0.0.0.0 interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[1].unit}}

set routing-instances VR-C-{{ customer_name }} instance-type virtual-router
set routing-instances VR-C-{{ customer_name }} interface {{interfaces[0].interface_name}}.{{interfaces[0].interface_configuration[0].unit}}
set routing-instances VR-C-{{ customer_name }} interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[0].unit}}  
set routing-instances VR-C-{{ customer_name }} interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[2].unit}}
      
set routing-instances VR-C-{{ customer_name }} routing-options autonomous-system {{ connection.asn_local }}
      
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  type external
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  local-address {{ connection.inside_ip_only_local }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  import {{ customer_name }}_Import
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  export {{ customer_name }}_Export
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  peer-as {{ connection.asn_remote }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  local-as {{ connection.asn_local }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}  neighbor {{ connection.inside_ip_only_remote }} family inet unicast rib-group VR-C-{{ customer_name }}
set routing-instances VR-C-{{ customer_name }} protocols ospf area 0.0.0.0 interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[0].unit}}  
set routing-instances VR-C-{{ customer_name }} protocols ospf area 0.0.0.0 interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[2].unit}}  
    
set routing-instances VR-INSERTION instance-type virtual-router
set routing-instances VR-INSERTION interface {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[3].unit}}
set routing-instances VR-INSERTION protocols ospf area 0.0.0.0 interface  {{interfaces[1].interface_name}}.{{interfaces[1].interface_configuration[3].unit}}

{# ----------------------- Customer Filter level changes --------------------- #}

set accounting-options filter-profile SFAP-PRIMARY-{{pop_name}} counters Srvc-C-{{customer_name}}-FilterHit-Final

set firewall family inet filter SF-C-{{customer_name}} term SFH-Bypass-Check from service-filter-hit
set firewall family inet filter SF-C-{{customer_name}} term SFH-Bypass-Check then accept
set firewall family inet filter SF-C-{{customer_name}} term Srvc-FilterHit-Final from destination-prefix-list CPL-C-{{customer_name}}.ALL-PREFIXES 
set firewall family inet filter SF-C-{{customer_name}} term Srvc-FilterHit-Final then count Srvc-C-{{customer_name}}-FilterHit-Final
set firewall family inet filter SF-C-{{customer_name}} term Srvc-FilterHit-Final then accept

set firewall family inet filter SF-PRIMARY-{{pop_name}}  term PRIMARY-SF-C-{{customer_name}} filter  SF-C-{{customer_name}}
insert firewall family inet filter SF-PRIMARY-{{pop_name}}  term PRIMARY-SF-C-{{customer_name}} before term PRIMARY-SF-ISP-Final

{# ----------------------- Customer Filter level changes end --------------------- #}

{% else %} {# ------------- else of first_conn ----------------------- #}

set routing-instances  VR-C-{{ customer_name }} interface {{interfaces[0].interface_name}}.{{interfaces[0].interface_configuration[0].unit}}
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} type external
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} local-address {{ connection.inside_ip_only_local }}
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} import {{ customer_name }}_Import
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} export {{ customer_name }}_Export
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} peer-as {{ connection.asn_remote }}
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} local-as {{ connection.asn_local }}
set routing-instances  VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} neighbor {{ connection.inside_ip_only_remote }} family inet unicast rib-group VR-C-{{ customer_name }}

{% endif %}
