interfaces {
  {% for int in interfaces %}
  {{ int.interface_name }} {
         {% for item3 in int.interface_configuration[:1] %}
    {% for item4 in  item3 %}
        {% if  "vlan" in item4 %}
            vlan-tagging;
        {% endif %}
    {% endfor %}
 {% endfor %}
       {% for param in int.interface_configuration %}
        unit {{ param.unit }} {
            {% if param.description is not defined %}
            {{ '' }}
            {% else %}
            description "{{ param.description }}";
            {% endif %}
            {% if "lt" in int.interface_name  %}
            encapsulation ethernet;
            {% else %}
            {{ '' }}
            {% endif %}
            {% if param.peer_unit is not defined %}
            {{ '' }}
            {% else %}
            peer-unit {{ param.peer_unit }};
            {% endif %}
            {% if param.vlan_id is not defined %}
            {{ '' }}
            {% else %}
            vlan-id {{ param.vlan_id }};
            {% endif %}

            
            family inet {
{% if int.interface_name is not equalto "lt-0/0/10" %}
{% if int.interface_name is not equalto "lo0" %}
             sampling {
                    input;
                    output;
                }
{%endif %}
{%endif %}
              address {{  param.ipv4_address }};
              {% if "ae" in int.interface_name %}

              filter
              {   
                input SF-PRIMARY-{{ pop_name }};
                output OTE-Stats;
              }
              {%endif %}

            }
        }
        {% endfor %}
    }
    {% endfor %}
    {% for int in interfaces %}
    {% if  "members_port" in int %}
    {% for member in int.members_port %}
    
        {{ member.name }} {
            gigether-options {
              802.3ad  {{ int.interface_name }};
            }
        }
    {% endfor %}
    {% endif %}
    {% endfor %}
 }
routing-options {
    rib-groups {
        VR-{{ name }}
        {
            {% if isp_type is not equalto "0" %}
                import-rib [ VR-{{ name }}.inet.0 VR-CORE.inet.0  VR-E-TYPE-{{ isp_type }}.inet.0 ]
            {% else %}
                import-rib [ VR-{{ name }}.inet.0 VR-CORE.inet.0  ]
            {% endif %}
        }
        VR-CORE {

        import-rib [ VR-CORE.inetflow.0 VR-{{ name }}.inetflow.0 ];

    }
    }
}

policy-options {
## {{ name }} Export Policy Creation
  policy-statement {{ name }}_Offnet_Export { 
      term Send_Aggregate-0 {
          from {
              protocol aggregate;
              prefix-list PL-Aggregate-Export;
              prefix-list  Anycast-Aggregate;
          }
          then accept;
      }
      term Send_ClientRoutes-Expand-1 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 1;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-2 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 2;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-3 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 3;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-4 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
         then {
              as-path-expand last-as count 4;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-5 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 5;
              accept;
          }
      }
      term Send_ClientRoutes-0 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then accept;
      }
      term FINAL {
          then reject;
      }
    }
    policy-statement {{ name }}_Tag-Community {     ## Policy name for NTT ISP.  Attached to BGP neighbor export policy as a policy chain
    {% for community in bgp_communities %}
        term {{ name }}_{{ community.name }} {   ## Term name matches community name that is being added
            from {
                prefix-list PL-Empty-Export;
            }
            then {
                community add {{ name }}_{{ community.name }};
                next term;
            }
        }
     {% endfor %}
        term final {
            then next policy;
        }
    }

    {% for community in bgp_communities %}
        community "{{ name }}_{{ community.name }}" members {{ community.member }}; ## Community Definition for NTT Blackhole;
    {% endfor %}
}




routing-instances {
    VR-CORE {
            interface {{ vr_core_routing_instance.interface }};
            protocols {
                ospf {
                    area 0.0.0.0 {
                      interface {{ vr_core_routing_instance.interface }};
                    }
            }
    }

}

VR-{{ name }} {
        instance-type virtual-router;
        {% for int in isp_routing_instance.interfaces %}        
        interface {{ int.name }};
        {% endfor %}
        routing-options {
            aggregate {
        {% for route in route_aggregate %}
                route {{ route.route }};
        {% endfor %}
            }
            autonomous-system {{ isp_routing_instance.bgp_protocol[0].local_as }};
            }
        protocols {
            bgp {
            {% for bgp_details in isp_routing_instance.bgp_protocol %}
                group {{ bgp_details.group_name }}{
                local-as {{ bgp_details.local_as }};
                type external;
                    local-address {{ bgp_details.local_address }};
                    export   [ {{ name }}_Tag-Community {{ name }}_Offnet_Export ];
                     peer-as {{ bgp_details.peer_as }};
                     neighbor {{ bgp_details.neighbor_ip }}{
                        {% if bgp_details.md5_passphrase is defined %} 
                        authentication-key   {{ bgp_details.md5_passphrase }};
                        {% endif %}
                            graceful-restart {
                        {% if bgp_details.restart_timer is defined %} 
                                restart-time {{ bgp_details.restart_timer }};  ## Time to wait for peer to come back up
                        {% endif %}
                                stale-routes-time {{ bgp_details.stale_routes_time }};  ## Amount of time the routing device waits to receive messages from restarting neighbors before declaring them down
                }
                            family inet {
                                unicast {
                                    rib-group VR-{{ name }};
                                    }
                                }
                        }
                       }
            {% endfor %}
                    }
            ospf {
                area 0.0.0.0 {
                {% for int in passive_interfaces %}
                    interface {{ int.name }} passive;
                {% endfor %}
                    interface {{ isp_routing_instance.interfaces[0].name }};
            }
        }
        }
    }
}
                    

