
{% for isp_name in isp_names %}
{% if isp_name.isp_name is not equalto "" %}
{% if isp_name.isp_name is not equalto "null" %}
delete routing-instances VR-{{ isp_name.isp_name }} routing-options flow route {{ route_name.route_name }}
{% endif %}
{% endif %}

{% endfor %}

{% if route_name.route_name is not equalto "" %}
{% if route_name.route_name is not equalto "null" %}
delete routing-instances VR-CORE routing-options flow route {{ route_name.route_name }}
{% endif %}
{% endif %}



