{% for int in interfaces %}
{% for param in int.interface_configuration %}
delete interfaces {{ int.interface_name }} unit {{ param.unit }} 
{% endfor %}
{% endfor %}


{% if last_conn is equalto "yes" %}



delete routing-options rib-groups VR-C-{{ customer_name }}

delete policy-options prefix-list CPL-C-{{ customer_name }}.ALL-PREFIXES
{% if net_srv_prefix_array is defined %}
        {% for netprefixentry in net_srv_prefix_array %}
            delete policy-options prefix-list CPL-C-{{ customer_name }}-{{netprefixentry}}
        {% endfor %}
{% endif %}

delete policy-options policy-statement {{ customer_name}}_Export
delete policy-options policy-statement {{ customer_name }}_Import
delete routing-instances VR-CORE interface {{ vr_core_interface.interface_name }}.{{ vr_core_interface.interface_unit }} 
delete routing-instances VR-CORE protocols ospf area 0.0.0.0 interface {{ vr_core_interface.interface_name }}.{{ vr_core_interface.interface_unit }}
delete routing-instances VR-C-{{ customer_name }}
delete routing-instances VR-INSERTION interface {{ vr_intsertion_details.interface_name }}.{{ vr_intsertion_details.interface_unit }}
delete routing-instances VR-INSERTION protocols ospf area 0.0.0.0 interface {{ vr_intsertion_details.interface_name }}.{{ vr_intsertion_details.interface_unit }}


delete accounting-options filter-profile SFAP-PRIMARY-{{pop_name}} counters Srvc-C-{{customer_name}}-FilterHit-Final
delete firewall family inet filter SF-PRIMARY-{{pop_name}}  term PRIMARY-SF-C-{{customer_name}}
delete firewall family inet  filter SF-C-{{customer_name}}


delete accounting-options filter-profile OTE-Stats counters OTE-C-{{customer_name}}
delete firewall family inet filter OTE-Stats term GPL-C-{{customer_name}} 
delete policy-options prefix-list GPL-C-{{customer_name}}
{% else %}

delete routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}}
delete  policy-options prefix-list GPL-C-{{ customer_name }} {{connection.endpoint_ip_remote }}

{% endif %}
