{% if filter.filter_type is equalto "customer" %}

delete firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }} from destination-prefix-list SFPL-C-{{ filter.customer }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}


{% if "1" in  filter.count %}
delete policy-options prefix-list SFPL-C-{{ filter.customer }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
{% endif %}

{% if "1"  in filter.count_for_term  %}
delete firewall family inet filter SF-C-{{ filter.customer }} term Srvc-Discard-{{ filter.service }}
delete accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Srvc-C-{{ filter.customer }}-Discard-{{ filter.service }}
{% endif %}



{% elif filter.filter_type is equalto "global" %}

delete firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }} from source-prefix-list SFPL-Global-1-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}

{% if "1"  in filter.count  %}
delete policy-options prefix-list SFPL-Global-1-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
{% endif %}

{% if "1"  in filter.count_for_term  %}
delete firewall family inet filter SF-Global-1 term Gbl-Discard-{{ filter.service }}
delete accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Gbl-Discard-{{ filter.service }}
{% endif %}



{% elif filter.filter_type is equalto "local" %}

delete firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }} from destination-prefix-list SFPL-POP-{{ filter.pop_name }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}

{% if "1"  in filter.count  %}
delete policy-options prefix-list SFPL-POP-{{ filter.pop_name }}-{{ filter.network_prefix_ip }}-{{ filter.network_prefix_subnet_ip }}
{% endif %}

{% if "1"  in filter.count_for_term  %}
delete firewall family inet filter SF-Ctrl-PoP-{{ filter.pop_name }} term Ctrl-Discard-{{ filter.service }}
delete accounting-options filter-profile SFAP-PRIMARY-{{ filter.pop_name }} counters Ctrl-Discard-{{ filter.service }}
{% endif %}


{% endif %}




