{% for int in interfaces %}
{% for param in int.interface_configuration %}
delete interfaces {{ int.interface_name }} unit {{ param.unit }} 
{% endfor %}
{% endfor %}
{% for int in member_interfaces %}
delete interfaces {{ int.name }} 
{% endfor %}
delete routing-options rib-groups  VR-{{ name }} 
delete routing-options rib-groups  VR-CORE  import-rib VR-{{ name }}.inetflow.0
delete policy-options policy-statement  {{ name }}_Offnet_Export 
delete policy-options policy-statement  {{ name }}_Tag-Community 
{% for bgp in bgp_communities %}
delete policy-options community {{name}}_{{ bgp.name }}
{% endfor %}
delete routing-instances  VR-{{ name }} 

{% if vr_core_interface is defined %}
    delete routing-instances VR-CORE interface {{ vr_core_interface }}
    delete routing-instances VR-CORE protocols ospf area 0.0.0.0 interface {{ vr_core_interface }}
{% endif %}
