{% for param in global_server.gui %}
# {{ param.diversion_name }}
neighbor {{ param.global_speaker_ip }} {
router-id {{ param.global_server_ip }};
local-address {{ param.global_server_ip }};
local-as {{ param.local_asn_global }};
peer-as {{ param.peer_asn_global }};
graceful-restart;
{% if param.md5_keystring is not equalto "" %}
{% if param.md5_keystring is not equalto "null" %}
md5 {{ param.md5_keystring }};
{% endif %}
{% endif %}
    flow {
        route {
            match {
{% if param.network_prefix_subnet_ip is equalto "" %}
{% if param.network_prefix_ip is not equalto "" %}
{% if param.network_prefix_ip is not equalto "null" %}
destination {{ param.network_prefix_ip }};
{% endif %}
{% endif %}
{% else %}
destination {{ param.network_prefix_ip }}/{{ param.network_prefix_subnet_ip }};
{% endif %}



{% if param.port_no is not equalto "" %}
{% if param.port_no is not equalto "null" %}
{% if param.port_no is not equalto "0" %}
destination-port {{ param.port_no }};
{% endif %}
{% endif %}
{% endif %}

{% if param.source_subnet is equalto "" %}
{% if param.source_ip is not equalto "" %}
{% if param.source_ip is not equalto "null" %}
source {{ param.source_ip }};
{% endif %}
{% endif %}
{%else%}
source {{ param.source_ip }}/{{ param.source_subnet }};
{% endif %}

{% if param.source_port is not equalto "" %}
{% if param.source_port is not equalto "null" %}
{% if param.source_port is not equalto "0" %}
source-port {{ param.source_port }};
{% endif %}
{% endif %}
{% endif %}

 {% if param.protocol is defined %}
{% if param.protocol is not equalto "" %}
{% if param.protocol is not equalto "null" %}
protocol {{ param.protocol }};
 {% endif %}
{% endif %}
{% endif %}

              }
then {

{% if param.target is not equalto "" %}
{% if param.target is not equalto "null" %}
extended-community redirect:{{ param.target }};
{% endif %}
{% endif %}
accept;
                }
            }
    }
}


{% endfor %}
{% for param in global_server.prev %}
# {{ param.diversion_name }}
neighbor {{ param.global_speaker_ip }} {
router-id {{ param.global_server_ip }};
local-address {{ param.global_server_ip }};
local-as {{ param.local_asn_global }};
peer-as {{ param.peer_asn_global }};
graceful-restart;
{% if param.md5_keystring is not equalto "" %}
{% if param.md5_keystring is not equalto "null" %}
md5 {{ param.md5_keystring }};
{% endif %}
{% endif %}
flow {
 route {
  match {


{% if param.network_prefix_subnet_ip is equalto "" %}
{% if param.network_prefix_ip is not equalto "" %}
{% if param.network_prefix_ip is not equalto "null" %}
destination {{ param.network_prefix_ip }};
{% endif %}
{% endif %}
{% else %}
destination {{ param.network_prefix_ip }}/{{ param.network_prefix_subnet_ip }};
{% endif %}



{% if param.port_no is not equalto "" %}
{% if param.port_no is not equalto "null" %}
{% if param.port_no is not equalto "0" %}
destination-port {{ param.port_no }};
{% endif %}
{% endif %}
{% endif %}


{% if param.source_subnet is equalto "" %}
{% if param.source_ip is not equalto "" %}
{% if param.source_ip is not equalto "null" %}
source {{ param.source_ip }};
{% endif %}
{% endif %}
{%else%}
source {{ param.source_ip }}/{{ param.source_subnet }};
{% endif %}


{% if param.source_port is not equalto "" %}
{% if param.source_port is not equalto "null" %}
{% if param.source_port is not equalto "0" %}
source-port {{ param.source_port }};
{% endif %}
{% endif %}
{% endif %}

{% if param.protocol is not equalto "" %}
{% if param.protocol is not equalto "null" %}
{% if param.protocol is defined %}
protocol {{ param.protocol }};
{% endif %}
{% endif %}
{% endif %}

}


then {
{% if param.target is not equalto "" %}
{% if param.target is not equalto "null" %}
extended-community redirect:{{ param.target }};
{% endif %}
{% endif %}
    accept;
 }
 }
 }
}

{% endfor %}

