neighbor {{ routing_options.neighbor }}{
    router-id {{ routing_options.router_id }};
    local-address {{ routing_options.local_address }};
    local-as {{ routing_options.local_as }};
    peer-as {{ routing_options.peer_as }};
    graceful-restart;
    flow {
        route {
            match {
                    destination {{ routing_options.destination_addess }};
              }
              then {
                    extended-community redirect:{{ routing_options.target_value }};
                    accept;
                }
            }
    }
}
                
