
routing-instances VR-CORE{
 routing-options {
 flow {
    {% if manual_diversion_for_core.route is not equalto "" %}
    {% if manual_diversion_for_core.route is not equalto "null" %}
    route {{ manual_diversion_for_core.route }}{
    {% endif %}
    {% endif %}
        match {
            {% if manual_diversion_for_core.destination is not equalto "" %}
            {% if manual_diversion_for_core.destination is not equalto "null" %}
            destination {{ manual_diversion_for_core.destination }}/{{ manual_diversion_for_core.network_prefix_subnet }};
            {% endif %}
            {% endif %}

            {% if manual_diversion_for_core.protocol is defined %}
            protocol {{ manual_diversion_for_core.protocol }};
            {% endif %}
        }
        {% if manual_diversion_for_core.community is not equalto "" %}
            {% if manual_diversion_for_core.community is not equalto "null" %}
        then community {{ manual_diversion_for_core.community }};
         {% endif %}
            {% endif %}
    }
}
}
}


{% for routing_options in manual_diversion_for_isp %}
 routing-instances VR-{{ routing_options.isp_name }}{
 routing-options { 
 flow { 
    {% if routing_options.route is not equalto "" %}
    {% if routing_options.route is not equalto "null" %}
    route {{ routing_options.route }}{  
    {% endif %}
    {% endif %}
        match {
             {% if routing_options.destination is not equalto "" %}
            {% if routing_options.destination is not equalto "null" %} 
            {% if routing_options.destination is not equalto "None" %}
            destination {{ routing_options.destination }}/{{ routing_options.network_prefix_subnet }}; 
            {% endif %}
            {% endif %}
            {% endif %}
            
            {% if routing_options.protocol is defined %}
            protocol {{ routing_options.protocol }}; 
            {% endif %}
        } 
        {% if routing_options.community is not equalto "" %}
        {% if routing_options.community is not equalto "null" %}
        then community {{ routing_options.community }}; 
        {% endif %}
        {% endif %}
    } 
}
}
}
{% endfor %}
