
{# INTERFACES BLOCK #}
{# ###################################### #}
{% for item in interfaces %}
{% for item3 in item.interface_configuration[:1] %}
{% for item4 in  item3 %}
{% if  "vlan" in item4 %}
set interfaces {{ item.interface_name }}  vlan-tagging
{% endif %}
{% endfor %}
{% endfor %}
{% for item2 in item.interface_configuration %}
{% if item2.description is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} description "{{ item2.description }}"
{% endif %}
{% if item2.vlan_id is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  vlan-id {{ item2.vlan_id }}
{% endif %}
{% if item2.ipv4_address_old is defined %}
 delete interfaces {{ item.interface_name }} unit {{ item2.unit }}  family inet address {{ item2.ipv4_address_old }}    
{% endif %}
{% if item2.ipv4_address is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  family inet address {{ item2.ipv4_address }}
{% endif %}

{% if  item2.tunnel is defined %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} tunnel source {{item2.tunnel.source}}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} tunnel destination {{item2.tunnel.destination}}
{% endif %}

{% endfor %}
{% endfor %}

{% if connection.endpoint_ip_remote_old is defined %}
delete  policy-options prefix-list GPL-C-{{ customer_name }} {{connection.endpoint_ip_remote_old }}
set  policy-options prefix-list GPL-C-{{ customer_name }} {{connection.endpoint_ip_remote}}
{% endif %}

set routing-instances VR-C-{{ customer_name }} routing-options autonomous-system {{ connection.asn_local }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} local-address {{ connection.inside_ip_only_local }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} peer-as {{ connection.asn_remote }}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} local-as {{ connection.asn_local }}
{% if connection.inside_ip_only_remote_old is defined %}
delete routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} neighbor {{ connection.inside_ip_only_remote_old }}
{% endif %}
set routing-instances VR-C-{{ customer_name }} protocols bgp group CPE-{{conn_number}} neighbor {{ connection.inside_ip_only_remote }} family inet unicast rib-group VR-C-{{ customer_name }}
