{% for del_local_as in  delete_local_as%}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ del_local_as.bgp_group }} local-as {{ del_local_as.local_as }}
{% endfor %}

{% for del_peer_as in  delete_peer_as%}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ del_peer_as.bgp_group }} peer-as {{ del_peer_as.peer_as }}
{% endfor %}

{% for del_local_ip in  delete_local_ip%}
delete interfaces {{ del_local_ip.interface_name }} unit {{ del_local_ip.interface_unit }} family inet address {{ del_local_ip.local_ip }}/{{ del_local_ip.local_ip_subnet }}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ del_local_ip.bgp_group }}  local-address {{ del_local_ip.local_ip }}
{% endfor %}

{% for vlan in  del_vlan%}
delete interfaces {{ vlan.interface_name }} unit {{ vlan.interface_unit }} vlan-id {{ vlan.vlan }}
delete interfaces {{ vlan.interface_name }} vlan-tagging
{% endfor %}

{% for del_nbr_ip in  delete_neighbour_ip%}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ del_nbr_ip.bgp_group }}  neighbor {{ del_nbr_ip.neighbour_ip }}
{% endfor %}

{% for md5 in  del_md5%}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ md5.bgp_group }} neighbor {{ md5.neighbour_ip }} authentication-key
{% endfor %}

{% for timer in  del_restart_timer%}
{% if timer.restart_timer is not equalto "" %}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ timer.bgp_group }} neighbor {{ timer.neighbour_ip }}  graceful-restart restart-time {{ timer.restart_timer }}
{% endif %}
{% endfor %}

{% for timeout in  del_timeout%}
delete routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ timeout.bgp_group }} neighbor {{ timeout.neighbour_ip }}  graceful-restart stale-routes-time {{ timeout.timeout }}
{% endfor %}

{% for int in  del_members_ports%}
{% for port in  int.member_ports %}
delete interfaces {{ port.name }}
{% endfor %}
{% endfor %}

{% for community in  del_bgp_community%}
delete policy-options policy-statement {{ name }}_Tag-Community term {{ name }}_{{ community.name }}
delete policy-options community {{ name }}_{{ community.name }}
{% endfor %}

{% for del_interfaces in  delete_interface%}
delete interfaces {{ del_interfaces.interface_name }} unit {{ del_interfaces.interface_unit }}
delete routing-instances VR-{{ name }} protocols ospf area 0.0.0.0 interface {{ del_interfaces.interface_name }}.{{ del_interfaces.interface_unit }}
delete routing-instances VR-{{ name }} interface {{ del_interfaces.interface_name }}.{{ del_interfaces.interface_unit }}
{% endfor %}

{% for del_group in  delete_bgp_groups%}
delete routing-instances VR-{{ name }}  protocols bgp group {{ name }}.{{ del_group.name }} 
{% endfor %}

{% for add_local_as in  add_local_as%}
set routing-instances VR-{{ name }} protocols bgp  group {{ name }}.{{ add_local_as.bgp_group }} local-as {{ add_local_as.local_as }}
{% endfor %}

{% for add_peer_as in  add_peer_as%}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_peer_as.bgp_group }} peer-as {{ add_peer_as.peer_as }}
{% endfor %}

{% for add_local_ip in  add_local_ip%}
{% if "vlan_id" in add_local_ip %}
set interfaces {{ add_local_ip.interface_name }} vlan-tagging
set interfaces {{ add_local_ip.interface_name }} unit {{ add_local_ip.interface_unit }} family inet address {{ add_local_ip.local_ip }}/{{ add_local_ip.local_ip_subnet }}
set interfaces {{ add_local_ip.interface_name }} unit {{ add_local_ip.interface_unit }} vlan-id {{ add_local_ip.vlan_id }}
{% endif %}
set interfaces {{ add_local_ip.interface_name }} unit {{ add_local_ip.interface_unit }} family inet address {{ add_local_ip.local_ip }}/{{ add_local_ip.local_ip_subnet }}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_local_ip.bgp_group }}  local-address {{ add_local_ip.local_ip }}
{% endfor %}

{% for vlan in  add_vlan%}
{% if "vlan" in vlan %}
set interfaces {{ vlan.interface_name }} vlan-tagging
set interfaces {{ vlan.interface_name }} unit {{ vlan.interface_unit }} vlan-id {{ vlan.vlan }}
{% endif %}
{% endfor %}
{% for add_nbr_ip in  add_neighbour_ip%}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_nbr_ip.bgp_group }}  neighbor {{ add_nbr_ip.neighbour_ip }} family inet unicast rib-group VR-{{ name }}
{% if add_nbr_ip.md5 is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_nbr_ip.bgp_group }}  neighbor {{ add_nbr_ip.neighbour_ip }} authentication-key {{ add_nbr_ip.md5 }} 
{% endif %}
{% if add_nbr_ip.restart_timer is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_nbr_ip.bgp_group }}  neighbor {{ add_nbr_ip.neighbour_ip }} graceful-restart restart-time {{ add_nbr_ip.restart_timer }} 
{% endif %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ add_nbr_ip.bgp_group }}  neighbor {{ add_nbr_ip.neighbour_ip }} graceful-restart stale-routes-time {{ add_nbr_ip.timeout }} 
{% endfor %}

{% for add_interfaces in  add_interface%}
{% if "vlan_id" in add_interfaces %}
set interfaces {{ add_interfaces.interface_name }} vlan-tagging
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  vlan-id {{ add_interfaces.vlan_id }}
set interfaces {{ add_interfaces.interface_name }} unit  {{ add_interfaces.interface_unit }}  vlan-id {{ add_interfaces.vlan_id }} family inet sampling input output
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet address {{ add_interfaces.local_ip }}/{{ add_interfaces.local_ip_subnet }}
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet filter input SF-PRIMARY-{{ add_interfaces.pop_name }}  
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet filter output OTE-Stats 
{% else %}
set interfaces {{ add_interfaces.interface_name }} unit  {{ add_interfaces.interface_unit }} family inet sampling input output
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet address {{ add_interfaces.local_ip }}/{{ add_interfaces.local_ip_subnet }}
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet filter input SF-PRIMARY-{{ add_interfaces.pop_name }}
set interfaces {{ add_interfaces.interface_name }} unit {{ add_interfaces.interface_unit }}  family inet filter output OTE-Stats
{% endif %}
set routing-instances VR-{{ name }} protocols ospf area 0.0.0.0 interface {{ add_interfaces.interface_name }}.{{ add_interfaces.interface_unit }} passive
set routing-instances VR-{{ name }} interface {{ add_interfaces.interface_name }}.{{ add_interfaces.interface_unit }}
{% endfor %}

{% for md5 in  add_md5%}
{%if md5.md5 is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ md5.bgp_group }} neighbor {{ md5.neighbour_ip }} authentication-key {{ md5.md5 }}
{% endif %}
{% endfor %}

{% for timer in  add_restart_timer%}
{% if timer.restart_timer is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ timer.bgp_group }} neighbor {{ timer.neighbour_ip }}  graceful-restart restart-time {{ timer.restart_timer }}
{% endif %}
{% endfor %}

{% for timeout in add_timeout%}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ timeout.bgp_group }} neighbor {{ timeout.neighbour_ip }}  graceful-restart stale-routes-time {{ timeout.timeout }}
{% endfor %}

{% for int in  add_members_ports%}
set interfaces {{ int.name }} gigether-options 802.3ad {{ int.ae_interface }} 

{% endfor %}

{% for community in  add_bgp_community%}
set policy-options policy-statement {{ name }}_Tag-Community term {{ name }}_{{ community.name }} from prefix-list PL-Empty-Export
set policy-options policy-statement {{ name }}_Tag-Community term {{ name }}_{{ community.name }} then community add {{ name }}_{{ community.name }}
set policy-options policy-statement {{ name }}_Tag-Community term {{ name }}_{{ community.name }} then next term
set policy-options community {{ name }}_{{ community.name }} members {{ community.member }}
insert policy-options policy-statement {{ name }}_Tag-Community term {{ name }}_{{ community.name }} before term final
{% endfor %}


{% for bgp in  bgp_group%}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} local-as {{ bgp.local_as }}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} type external
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} local-address {{ bgp.local_ip }}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} export {{ name }}_Offnet_Export
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} export {{ name }}_Tag-Community
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} peer-as {{ bgp.peer_as }}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} neighbor {{ bgp.neighbour_ip }} family inet unicast rib-group VR-{{ name }}
{%if bgp.md5 is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} neighbor {{ bgp.neighbour_ip }} authentication-key {{ bgp.md5 }}
{% endif %}
{%if bgp.restart_timer is not equalto "" %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} neighbor {{ bgp.neighbour_ip }}  graceful-restart restart-time {{ bgp.restart_timer }}
{% endif %}
set routing-instances VR-{{ name }} protocols bgp group {{ name }}.{{ bgp.bgp_group }} neighbor {{ bgp.neighbour_ip }}  graceful-restart stale-routes-time {{ bgp.timeout }}
{% endfor %}
