{% for int in delete_interfaces %}

{% for param in int.interface_configuration %}
delete interfaces {{ int.interface_name }} unit {{ param.unit }}
{% if "VR-INSERTION" in int.vr_name %}
delete routing-instances {{ int.vr_name }} interface {{ int.interface_name  }}.{{ param.unit }}
{% else %}
delete routing-instances {{ int.vr_name }}
{% endif %}
{% endfor %}


{% endfor %}






{# INTERFACES BLOCK #}
{# ###################################### #}
{% for item in add_interfaces %}
{% for item3 in item.interface_configuration[:1] %}
{% for item4 in  item3 %}
{% if  "vlan" in item4 %}
set interfaces {{ item.interface_name }}  vlan-tagging
{% endif %}
{% endfor %}
{% endfor %}
{% for item2 in item.interface_configuration %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}
{% if item2.description is not defined %}
{{ '' }}
{% else %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }} description "{{ item2.description }}"
{% endif %}
{% if item2.vlan_id is not defined %}
{{ '' }}
{% else %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  vlan-id {{ item2.vlan_id }}
{% endif %}
set interfaces {{ item.interface_name }} unit {{ item2.unit }}  family inet address {{ item2.ipv4_address }}
{% endfor %}
{% endfor %}


{# INTERFACES BLOCK #}
{# ###################################### #}
{% for loopback in loopback_config %}
delete interfaces {{ loopback.interface_name }} unit {{ loopback.unit }} 
set interfaces {{ loopback.interface_name }} unit {{ loopback.unit }}  family inet address {{ loopback.loopback_ip }}
delete policy-options prefix-list GPL-LOCAL {{ loopback.loopback_ip_db }}
set policy-options prefix-list GPL-LOCAL {{ loopback.loopback_ip }}


{% endfor %}

{# ROUTING INSTANCE #}
{# ####################################### #}


{# --------------------------VR-DIV------------------------ #}
{% if vr_routing_instance is not defined %}
{{ '' }}
{% else %}
{% for vr_div in vr_routing_instance %}

set routing-instances {{ vr_div.name }} instance-type vrf  
set routing-instances {{ vr_div.name }} vrf-target target:{{ vr_div.vrf_target }}
set routing-instances {{ vr_div.name }} route-distinguisher {{ vr_div.route_distinguisher }}
set routing-instances {{ vr_div.name }} interface {{ vr_div.interface }} 
set routing-instances {{ vr_div.name }} routing-options {{ vr_div.route_details.type }} route {{ vr_div.route_details.destination }} next-hop {{ vr_div.route_details.nexthop }}
{% endfor %}
{# ------------------------VR-CORE------------------------- #}


set routing-instances VR-INSERTION instance-type virtual-router
{% for ins_div in insertion_vr.interfaces %}
set routing-instances VR-INSERTION interface  {{ ins_div.interface }}
{% endfor %}
{% endif %}

{# ####################################### #}
{# ExaBGP Configuration #}


{# -------------------------VR-CORE-------------------------#}



{% for del_local_md5 in  del_local_speaker_md5%}
delete routing-instances VR-CORE protocols bgp group {{del_local_md5.bgp_group_name }} neighbor  {{del_local_md5.neighbor }} authentication-key 
{% endfor %}

{% for del_local_restart_time in  del_restart_time_local%}
delete routing-instances VR-CORE protocols bgp group {{del_local_restart_time.bgp_group_name }} neighbor {{del_local_restart_time.neighbor}} graceful-restart restart-time 
{% endfor %}

{% for del_stale_time_local in  del_stale_time_local%}
delete routing-instances VR-CORE protocols bgp group {{del_stale_time_local.bgp_group_name}} neighbor {{del_stale_time_local.neighbor}} graceful-restart stale-routes-time 

{% endfor %}

{% for del_local_as in  del_local_asn%}
delete routing-instances VR-CORE protocols bgp group {{del_local_as.bgp_group_name}} neighbor {{del_local_as.neighbor}} local-as {{del_local_as.local_asn}}
delete routing-instances VR-CORE protocols bgp group {{del_local_as.bgp_group_name}} neighbor {{del_local_as.neighbor}} peer-as {{del_local_as.peer_asn}}
{% endfor %}




{% for del_global_md5 in  del_global_speaker_md5%}
delete routing-instances VR-CORE protocols bgp group {{del_global_md5.bgp_group_name }} neighbor  {{del_global_md5.neighbor }} authentication-key 
{% endfor %}

{% for del_global_restart_time in  del_restart_time_global%}
delete routing-instances VR-CORE protocols bgp group {{del_global_restart_time.bgp_group_name }} neighbor {{del_global_restart_time.neighbor}} graceful-restart restart-time 
{% endfor %}

{% for del_stale_time_global in  del_stale_time_global%}
delete routing-instances VR-CORE protocols bgp group {{del_stale_time_global.bgp_group_name}} neighbor {{del_stale_time_global.neighbor}} graceful-restart stale-routes-time 

{% endfor %}

{% for del_local_as in  del_local_asn_global%}
delete routing-instances VR-CORE protocols bgp group {{del_local_as.bgp_group_name}} neighbor {{del_local_as.neighbor}} local-as {{del_local_as.local_asn}}
delete routing-instances VR-CORE protocols bgp group {{del_local_as.bgp_group_name}} neighbor {{del_local_as.neighbor}} peer-as {{del_local_as.peer_asn}}

{% endfor %}



{% for del_local_intf in del_local_speaker_interface%}

delete  interfaces {{ del_local_intf.local_speaker_interface }} unit {{ del_local_intf.unit }} 
delete routing-instances VR-CORE interface  {{ del_local_intf.local_speaker_interface }}.{{ del_local_intf.unit }}
{% endfor %}


{% for del_local_server_ip in del_local_server_ip%}
delete routing-instances VR-CORE protocols bgp group {{del_local_server_ip.bgp_group_name}} neighbor {{del_local_server_ip.neighbor}}
{% endfor %}


{% for del_global_intf in del_global_speaker_interface%}

delete  interfaces {{ del_global_intf.global_speaker_interface }} unit {{ del_global_intf.unit }}  
delete routing-instances VR-CORE interface  {{ del_global_intf.global_speaker_interface }}.{{ del_global_intf.unit }}
{% endfor %}


{% for del_global_server_ip in del_global_server_ip%}
delete routing-instances VR-CORE protocols bgp group {{del_global_server_ip.bgp_group_name}} neighbor {{del_global_server_ip.neighbor}}
{% endfor %}


{% for del_speaker_ip in del_local_speaker_ip%}
delete interfaces {{ del_speaker_ip.local_speaker_interface }} unit {{ del_speaker_ip.unit }}  family inet address {{ del_speaker_ip.local_speaker_ip }}
{% endfor %}

{% for del_speaker_ip in del_global_speaker_ip%}
delete interfaces {{ del_speaker_ip.global_speaker_interface }} unit {{ del_speaker_ip.unit }}  family inet address {{ del_speaker_ip.global_speaker_ip }}
{% endfor %}



{% for add_local_md5 in  add_local_speaker_md5%}
set routing-instances VR-CORE protocols bgp group {{add_local_md5.bgp_group_name }} neighbor  {{add_local_md5.neighbor }} authentication-key {{add_local_md5.local_speaker_md5 }}
{% endfor %}


{% for add_local_restart_time in  add_restart_time_local%}
set routing-instances VR-CORE protocols bgp group {{add_local_restart_time.bgp_group_name }} neighbor {{add_local_restart_time.neighbor}} graceful-restart restart-time {{add_local_restart_time.restart_time_local}}
{% endfor %}


{% for add_stale_time_local in  add_stale_time_local%}
set routing-instances VR-CORE protocols bgp group {{add_stale_time_local.bgp_group_name}} neighbor {{add_stale_time_local.neighbor}} graceful-restart stale-routes-time {{add_stale_time_local.stale_routes_time_local}}

{% endfor %}

{% for add_local_as in add_local_asn%}
set routing-instances VR-CORE protocols bgp group {{add_local_as.bgp_group_name}} neighbor {{add_local_as.neighbor}} local-as {{add_local_as.local_asn}}
set routing-instances VR-CORE protocols bgp group {{add_local_as.bgp_group_name}} neighbor {{add_local_as.neighbor}} peer-as {{add_local_as.peer_asn}}
{% endfor %}

{% for add_global_md5 in  add_global_speaker_md5%}
set routing-instances VR-CORE protocols bgp group {{add_global_md5.bgp_group_name }} neighbor {{add_global_md5.neighbor }} authentication-key {{add_global_md5.global_speaker_md5 }}
{% endfor %}

{% for add_global_restart_time in  add_restart_time_global%}
set routing-instances VR-CORE protocols bgp group {{add_global_restart_time.bgp_group_name }} neighbor {{add_global_restart_time.neighbor}} graceful-restart restart-time {{add_global_restart_time.restart_time_global}}
{% endfor %}

{% for add_stale_time_global in add_stale_time_global%}
set routing-instances VR-CORE protocols bgp group {{add_stale_time_global.bgp_group_name}} neighbor {{add_stale_time_global.neighbor}} graceful-restart stale-routes-time {{add_stale_time_global.stale_routes_time_global}}
{% endfor %}

{% for add_local_as in  add_local_asn_global%}
set routing-instances VR-CORE protocols bgp group {{add_local_as.bgp_group_name}} neighbor {{add_local_as.neighbor }} local-as {{add_local_as.local_asn}}
set routing-instances VR-CORE protocols bgp group {{add_local_as.bgp_group_name}} neighbor {{add_local_as.neighbor }} peer-as {{add_local_as.peer_asn}}

{% endfor %}


{% for add_local_intf in add_local_speaker_interface%}
{% if "vlan_id" in add_local_intf %}
set  interfaces {{ add_local_intf.local_speaker_interface }} unit {{ add_local_intf.unit }}  family inet address {{ add_local_intf.local_speaker_ip }}
set  interfaces {{ add_local_intf.local_speaker_interface }} vlan-tagging
set  interfaces {{ add_local_intf.local_speaker_interface }} unit {{ add_local_intf.unit }}  vlan-id {{ add_local_intf.unit }}
set  routing-instances VR-CORE interface  {{ add_local_intf.local_speaker_interface }}.{{ add_local_intf.unit }}
{% else %}
set  interfaces {{ add_local_intf.local_speaker_interface }} unit {{ add_local_intf.unit }}  family inet address {{ add_local_intf.local_speaker_ip }}
set  routing-instances VR-CORE interface  {{ add_local_intf.local_speaker_interface }}.{{ add_local_intf.unit }}
{% endif %}
{% endfor %}


{% for add_local_server_ip in add_local_server_ip%}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} neighbor {{add_local_server_ip.neighbor}}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} neighbor {{add_local_server_ip.neighbor}} authentication-key {{add_local_server_ip.local_speaker_md5}}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} neighbor {{add_local_server_ip.neighbor}} graceful-restart restart-time {{add_local_server_ip.restart_time_local}}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} neighbor {{add_local_server_ip.neighbor}} graceful-restart stale-routes-time {{add_local_server_ip.stale_time_local}}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} local-as {{add_local_server_ip.local_as}}
set routing-instances VR-CORE protocols bgp group {{add_local_server_ip.bgp_group_name}} peer-as {{add_local_server_ip.local_as}}
{% endfor %}

{% for add_speaker_ip in add_local_speaker_ip%}
{% if "vlan_id" in add_speaker_ip %}
set  interfaces {{ add_speaker_ip.local_speaker_interface }} vlan-tagging
{% endif %}
set interfaces {{ add_speaker_ip.local_speaker_interface }} unit {{ add_speaker_ip.unit }}  family inet address {{ add_speaker_ip.local_speaker_ip }}
set routing-instances VR-CORE interface {{ add_speaker_ip.local_speaker_interface }}.{{add_speaker_ip.unit}}
{% endfor %}



{% for add_global_intf in add_global_speaker_interface%}

{% if "vlan_id" in add_global_intf %}
set  interfaces {{ add_global_intf.global_speaker_interface }} unit {{ add_global_intf.unit }}  family inet address {{ add_global_intf.global_speaker_ip }}
set  interfaces {{ add_global_intf.global_speaker_interface }} vlan-tagging
set  interfaces {{ add_global_intf.global_speaker_interface }} unit {{ add_global_intf.unit }}  vlan-id {{ add_global_intf.unit }}
set  routing-instances VR-CORE interface  {{ add_global_intf.global_speaker_interface }}.{{ add_global_intf.unit }}
{% else %}
set  interfaces {{ add_global_intf.global_speaker_interface }} unit {{ add_global_intf.unit }}  family inet address {{ add_global_intf.global_speaker_ip }}
set  routing-instances VR-CORE interface  {{ add_local_intf.global_speaker_interface }}.{{ add_global_intf.unit }}
{% endif %}
{% endfor %}


{% for add_global_server_ip in add_global_server_ip%}
set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} neighbor {{add_global_server_ip.neighbor}}
set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} neighbor {{add_global_server_ip.neighbor}} authentication-key {{add_global_server_ip.global_speaker_md5}}
set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} neighbor {{add_global_server_ip.neighbor}} graceful-restart restart-time {{add_global_server_ip.restart_time_global}}
set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} neighbor {{add_global_server_ip.neighbor}} graceful-restart stale-routes-time {{add_global_server_ip.stale_time_global}}

set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} local-as {{add_global_server_ip.local_as}}
set routing-instances VR-CORE protocols bgp group {{add_global_server_ip.bgp_group_name}} peer-as {{add_global_server_ip.local_as}}

{% endfor %}

{% for add_speaker_ip in add_global_speaker_ip%}
{% if "vlan_id" in add_speaker_ip %}
set  interfaces {{ add_speaker_ip.global_speaker_interface }} vlan-tagging
{% endif %}
set interfaces {{ add_speaker_ip.global_speaker_interface }} unit {{ add_speaker_ip.unit }}  family inet address {{ add_speaker_ip.global_speaker_ip }}
set routing-instances VR-CORE interface {{ add_speaker_ip.global_speaker_interface }}.{{add_speaker_ip.unit}} 
{% endfor %}




{# ################################################## #}


{% for source_address in del_netflow_source_address %}

delete forwarding-options sampling family inet output flow-server {{ source_address.netflow_server_ip }} source-address {{source_address.netflow_source_address}}
{% endfor %}


{% for source_address in add_netflow_source_address %}

set forwarding-options sampling family inet output flow-server {{ source_address.netflow_server_ip }} source-address {{source_address.netflow_source_address}}
{% endfor %}


{% for server_ip in del_netflow_server_ip %}

delete forwarding-options sampling family inet output flow-server {{ server_ip.netflow_server_ip }}
{% endfor %}

{% for server_ip in add_netflow_server_ip %}
set forwarding-options sampling family inet output flow-server {{ server_ip.netflow_server_ip }} port {{ server_ip.netflow_port }} source-address {{server_ip.netflow_source_address}}

{% endfor %}

{% for flow_port in del_netflow_port %}

delete forwarding-options sampling family inet output flow-server {{ flow_port.netflow_server_ip }} port {{flow_port.netflow_port}}
{% endfor %}


{% for flow_port in add_netflow_port %}

set forwarding-options sampling family inet output flow-server {{ flow_port.netflow_server_ip }} port {{flow_port.netflow_port}}
{% endfor %}

{% for sys_host_ip in del_syslog_host_ip %}

delete system syslog host {{ sys_host_ip.syslog_host_ip }}
{% endfor %}

{% for sys_host_ip in add_syslog_host_ip %}

set system syslog host {{ sys_host_ip.syslog_host_ip }}
{% endfor %}


{# ################################################## #}

{% for prefix in del_prefix_list %}
delete policy-options prefix-list Anycast-Aggregate {{ prefix.prefix }}
{% endfor %}

{% for prefix in add_prefix_list %}
set policy-options prefix-list Anycast-Aggregate {{ prefix.prefix }}
{% endfor %}


{# ################################################## #}




{# ################################################## #}

{% for prefix in del_agg_prefix_list %}
delete policy-options prefix-list PL-Aggregate-Export {{ prefix.prefix }}
    {% for isp in isp_names %}
        delete routing-instances VR-{{ isp }} routing-options aggregate route {{ prefix.prefix }}
    {% endfor %}
{% endfor %}

{% for prefix in add_agg_prefix_list %}
set policy-options prefix-list PL-Aggregate-Export {{ prefix.prefix }}
    {% for isp in isp_names %}
        set routing-instances VR-{{ isp }} routing-options aggregate route {{ prefix.prefix }}
    {% endfor %}
{% endfor %}


{# ################################################## #}


{% for config in del_member_port_config %}
    {% for port in config.member_ports %}
        delete interfaces {{ port.name }} gigether-options 802.3ad
    {% endfor %}
{% endfor %}
{% for config in add_member_port_config %}
    {% for port in config.member_ports %}
        set interfaces {{ port.name }} gigether-options 802.3ad {{ config.interface_name }}
    {% endfor %}
{% endfor %}
{% for int in delete_interfaces %}

{% if "VR-INSERTION" is not equalto int.vr_name %}
    delete policy-options community {{ int.vr_name }} 
{% endif %}
{% endfor %}
{% if vr_routing_instance is  defined %}
{% for community in vr_routing_instance %}
    set policy-options community {{ community.name }} members redirect:{{ community.vrf_target }}
{% endfor %}
{% endif %}
