{% if prefix_data is defined %}

{% if prefix_data.delete is defined %}
        {% for netprefixentry in  prefix_data.delete  %}

delete policy-options prefix-list CPL-C-{{ customer_name }}-{{netprefixentry}}

        {% endfor %}

{% endif %}


{% if prefix_data.add is defined %}
        {% for netprefixentry in  prefix_data.add  %}

set policy-options prefix-list CPL-C-{{ customer_name }}-{{netprefixentry}} {{netprefixentry}}

        {% endfor %}

{% endif %}


{% endif %}

