{% for public_ip in cust_public_ip %}
    {% if next_hop is defined %}
        set routing-instances VR-CORE routing-options static route {{ public_ip.ip }} next-hop {{ next_hop }}
    {% endif %}
    {% if del_next_hop is defined  %}
        delete routing-instances VR-CORE routing-options static route {{ public_ip.ip }} next-hop {{ del_next_hop }}
    {% endif %}

{% endfor %}
