system {
host-name {{ system.hostname }};

root-authentication {
## SECRET-DATA

encrypted-password "$1$Wx5FdaVb$aeW7qKvMjbdLJ28MyqyqN.";
}


login {
user popmgr {
            class super-user;
            authentication {
                ssh-rsa "{{ system.ssh_key }}"
            }
        }
user rancid {
    class super-user;
    authentication {
        encrypted-password "$1$Wx5FdaVb$aeW7qKvMjbdLJ28MyqyqN.";
    }

}


services {
     ssh;
     netconf {
       ssh;
   }
}

syslog {
   user * {
       any emergency;
   }
   host {{ syslog_config.syslog_host_ip }} {
    interactive-commands any;
}


   file messages {
       any notice;
       authorization info;
   }
   file interactive-commands {
       interactive-commands any;
   }
}
}
chassis {
aggregated-devices {
             ethernet {
             device-count 128;
        }
    }
fpc 0 {
   pic 0 {
       tunnel-services {
           bandwidth 1g;
       }
   }
}
}

{# SERVICES BLOCK #}
{# ###################################### #}

services {

    flow-monitoring {

        version9 {

            template ipv4-template {

                flow-active-timeout 60;

                flow-inactive-timeout 60;

                template-refresh-rate {

                    packets 100;

                    seconds 10;

                }

                option-refresh-rate {

                    packets 100;

                    seconds 10;

                }

                ipv4-template;

            }

        }

    }
}





{# INTERFACES BLOCK #}
{# ###################################### #}
interfaces
{

{% for item in interfaces %}
 {{ item.interface_name }}
{
 {% for item3 in item.interface_configuration %}

        {% if item3.vlan_id is defined %}
            vlan-tagging;
        {% endif %}
 {% endfor %}


    {% for item2 in item.interface_configuration %}
        unit {{ item2.unit }}
        {
           {% if item2.description is not defined %}
                {{ '' }}
           {% else %}
           description "{{ item2.description }}";
            {% endif %}
            {% if "lt" in item.interface_name %}
            encapsulation ethernet;
             peer-unit {{ item2.peer_unit }} ;
            {%endif %}


           {% if item2.vlan_id is not defined %}
                 {{ '' }}
           {% else %}
               vlan-id {{ item2.vlan_id }};
           {% endif %}
           family inet {
                address {{ item2.ipv4_address }};
            }
        }

        {% endfor %}
}
{% endfor %}

{% for member in member_ports_config %}
{% for  ports in member.member_ports %}

{{ ports.name }}{
gigether-options{
      802.3ad {{ member.interface_name }};
}
}
{% endfor %}
{% endfor %}

}
{# FORWARDING OPTIONS BLOCK #}
{# ###################################### #}

forwarding-options {

    sampling {

        input {

            rate 100;

        }

        family inet {

            output {

                flow-server {{ netflow_config.netflow_server_ip }} {

                    port {{ netflow_config.netflow_port }};

                    source-address {{ netflow_config.netflow_source_address }};

                }

        }

    }
}
}






{# INTERFACES BLOCK #}
{# ###################################### #}


routing-options {
graceful-restart;
static {
   route {{ routing_options.static.destination }} next-hop {{ routing_options.static.nexthop }};
}
    rib-groups {

        VR-CORE {
            import-rib [ VR-CORE.inetflow.0 ];
        }
    }
}
protocols {
lldp {
   interface all;
}
}

firewall {

    family inet {

        filter SF-PRIMARY-{{ pop_name }} { #This Firewall Filter is static and defined in the ADD PoP Template.

            accounting-profile SFAP-PRIMARY-{{ pop_name }};
            interface-specific;
            term PRIMARY-SF-Global-1 {
                filter SF-Global-1;

            }

            term PRIMARY-SF-Ctrl-PoP-{{ pop_name }} {
                filter SF-Ctrl-PoP-{{ pop_name }};

            }

            term PRIMARY-SF-ISP-Final {

                filter SF-ISP-Final;

            }

        }

        filter SF-Global-1 {

            term Gbl-Discard-BlackListSrcs {

                from {

                    source-prefix-list {

                        PL-Empty-Export;

                        Global-BlackListSrcs;

                    }

                }

                then {

                    count Gbl-Discard-BlackListSrcs;

                    discard;

                }

            }

            term Gbl-Accept-WhiteListSrcs {

                from {

                    source-prefix-list {

                        PL-Empty-Export;

                        Global-WhiteListSrcs;

                    }

                }

                then {

                    count Gbl-Accept-WhiteListSrcs;

                    accept;

                }

            }

            term Gbl-Continue-Final {

                then {

                    count Gbl-Continue-Final;
                    next term;

                }

            }

        }

        filter SF-Ctrl-PoP-{{ pop_name }} { # This Firewall Filter is static and defined in the ADD PoP Template.

            term Ctrl-Accept-GRE {

                from {

                    source-prefix-list {

                        GRE-RemoteEndPoints;

                    }

                    destination-prefix-list {

                        GRE-LocalEndPoints;

                    }

                    protocol gre;

                }

                then {

                    count Ctrl-Accept-GRE;

                    accept;

                }

            }

            term Ctrl-Discard-GRE {

                from {

                    source-prefix-list {

                        GRE-RemoteEndPoints except;

                    }

                    protocol gre;

                }

                then {

                    count Ctrl-Discard-GRE;

                    discard;

                }

            }

            term Ctrl-Accept-BGP {

                from {

                    source-prefix-list {

                        BGP-RemoteSpeakers;

                    }

                    protocol tcp;

                    port bgp;

                }

                then {

                    count Ctrl-Accept-BGP;

                    accept;

                }

            }

            term Ctrl-Discard-BGP {

                from {

                    source-prefix-list {

                        BGP-RemoteSpeakers except;

                    }

                    protocol tcp;

                    port bgp;

                }

                then {

                    count Ctrl-Discard-BGP;

                    discard;

                }

            }

            term Ctrl-Accept-Anycast {

                from {

                    destination-prefix-list {

                        PoP-Anycast-Aggregates;

                    }

                }

                then {

                    count Ctrl-Accept-Anycast;

                    accept;

                }

            }

            term Ctrl-Limit-ICMP {

                from {

                    destination-prefix-list {

                        PoP-Public-Aggregates;

                        SFPL-All-CPL;

                    }

                    protocol icmp;

                }

                then {

                    count Ctrl-Limit-ICMP;
                    
					policer Ctrl-Limit-ICMP;

                    accept;

                }

            }

            term Ctrl-Discard-ICMP {

                from {

                    protocol icmp;

                }

                then {

                    count Ctrl-Discard-ICMP;

                    discard;

                }

            }

            term Ctrl-Discard-Private {

                from {

                    destination-prefix-list {

                        PoP-Private-Aggregates;

                    }

                }

                then {

                    count Ctrl-Discard-Private;

                    discard;

                }

            }


            term Ctrl-Continue-Final {

                then {

                    count Ctrl-Continue-Final;

                    next term;

                }

            }

        }
        filter SF-ISP-Final {

            term Srvc-ISP-FilterHit-Final{

                then {

                    count Srvc-ISP-FilterHit-Final;

                    discard;

                }

            }

        }

        filter OTE-Stats {
             accounting-profile OTE-Stats;
             interface-specific;
             term NonGRE-Bypass {
                 from {
                     protocol-except gre;
                 }
                 then accept;
             }
            }



    }
    policer Ctrl-Limit-ICMP {
        if-exceeding {
            bandwidth-limit 500k;
            burst-size-limit 4k;
        }
        then discard;
    }
}





{# ROUTING INSTANCE #}
{# ####################################### #}
routing-instances {






{# -------------------------VR-CORE-------------------------#}
{% for vr_core in bgp_routing_instance %}
{{ vr_core.name }}
{
  instance-type virtual-router;
  interface {{ vr_core.interface }};
  interface {{ vr_core.exabgp_global_interface }};
  interface {{ vr_core.loopback }};
  interface {{ lt_interface_config[1].name }}.{{ lt_interface_config[1].unit }};
  interface {{ lt_interface_config[3].name }}.{{ lt_interface_config[3].unit }};


  routing-options {
        flow {
              term-order standard;
        }
    }
  protocols {
       bgp {
            group {{ common_params.bgpgroup_remote }}{
                type internal;
                neighbor {{ global_speaker_config.global_server_ip }} {
                    authentication-key {{ global_speaker_config.global_speaker_md5 }};
                 graceful-restart {
                                restart-time {{ global_speaker_config.restart_time }};
                                 stale-routes-time {{ global_speaker_config.stale_routes_time_global }};
                    }
                    family inet {
                        flow {
                            rib-group {{ vr_core.name }};
                            no-validate NoValidate-MatchAll;
                        }
                    }

                    peer-as {{ global_speaker_config.peer_asn }};
                    local-as {{ global_speaker_config.local_asn }};
        }
    }

            group {{ common_params.bgpgroup_local }}{
                type internal;
                neighbor {{ local_speaker_config.local_server_ip }} {
                    authentication-key {{ local_speaker_config.local_speaker_md5 }};
                 graceful-restart {
                                restart-time {{ local_speaker_config.restart_time }};
                                 stale-routes-time {{ local_speaker_config.stale_routes_time_local }};
                    }
                    family inet {
                        flow {
                            rib-group {{ vr_core.name }};
                            no-validate NoValidate-MatchAll;
                        }
                    }

                    peer-as {{ local_speaker_config.peer_asn }};
                    local-as {{ local_speaker_config.local_asn }};
        }
    }
    }





    ospf {
        area {{ vr_core.ospf_area }}{
            interface {{ vr_core.loopback }};
        }

    }
}
}
{% endfor %}
{# ################################################## #}

{# --------------------------VR-DIV------------------------ #}

{% for vr_div in vr_routing_instance %}

{{ vr_div.name }}
{
  instance-type vrf;
  vrf-target target:{{ vr_div.vrf_target }};
  route-distinguisher {{ vr_div.route_distinguisher }};
  interface {{ vr_div.interface }}  ;
  routing-options {
  {{ vr_div.route_details.type }}{
           route {{ vr_div.route_details.destination }} next-hop {{ vr_div.route_details.nexthop }};
    }
  }
}
{% endfor %}
{# ------------------------VR-CORE------------------------- #}


VR-INSERTION {
   instance-type virtual-router;
   {% for ins_div in insertion_vr.interfaces %}
   interface  {{ ins_div.interface }};
    {% endfor %}
   protocols {
       ospf {
           area 0.0.0.0 {
           }
       }
   }
}


VR-E-TYPE-1 {
        instance-type virtual-router;
        interface {{ lt_interface_config[0].name }}.{{ lt_interface_config[0].unit }};
        protocols {
            ospf {
                area 0.0.0.0 {
                    interface {{ lt_interface_config[0].name }}.{{ lt_interface_config[0].unit }};
                }
            }
        }
    }

VR-E-TYPE-2 {
        instance-type virtual-router;
        interface {{ lt_interface_config[2].name }}.{{ lt_interface_config[2].unit }};
        protocols {
            ospf {
                area 0.0.0.0 {
                    interface {{ lt_interface_config[2].name }}.{{ lt_interface_config[2].unit }};
                }
            }
        }
    }

}

policy-options {

prefix-list PL-Empty-Export {
    127.0.0.1/32;
}
prefix-list PL-Aggregate-Export {
{% for prefix in pl_agg_prefix_list %}
    {{ prefix }};
    {% endfor %}
}
prefix-list AP-BGP-Peers {
   apply-path "routing-instances <*> protocols bgp group <*> neighbor <*>";
}
prefix-list AP-GRE-Remote-Peers {
   apply-path "interfaces <gr-*/*/*> unit <*> tunnel destination <*>";
}
prefix-list AP-All-Customers-Prefixes {
   apply-path "policy-options prefix-list <CPL-*> <*>";
}



prefix-list GRE-LocalEndPoints {
apply-path "interfaces <gr-*> unit <*> tunnel source <*>";
}
prefix-list GRE-RemoteEndPoints {
apply-path "interfaces <gr-*> unit <*> tunnel destination <*>";
}
prefix-list BGP-LocalSpeakers {
apply-path "routing-instances <*> protocols bgp group <*> neighbor <*> local-address <*>";
}
prefix-list BGP-RemoteSpeakers {
apply-path "routing-instances <*> protocols bgp group <*> neighbor <*>";
}

prefix-list SFPL-All-CPL {
apply-path "policy-options prefix-list <CPL-*><*>";
}

prefix-list Global-BlackListSrcs {
127.0.0.0/32;
}
prefix-list Global-WhiteListSrcs {
127.0.0.0/32;
}


prefix-list PoP-Public-Aggregates {
127.0.0.1/32;
}
prefix-list PoP-Private-Aggregates {
127.0.0.1/32;
}
prefix-list PoP-Anycast-Aggregates {}






prefix-list Anycast-Aggregate {

{% for prefix in service_prefix_list %}
    {{ prefix }};
    {% endfor %}
}
prefix-list PL-Aggregate-Import {
  86.0.0.0/8;
}
prefix-list GPL-LOCAL {
        {{ common_params.vr_core_pub_ip }};
    }

policy-statement NoValidate-MatchAll {
   term no_validate_matchAll {
       then accept;
   }
}


{# ########### POLICY ################ #}
{% for policyoption in policy_options %}

    {% for community in policyoption.community %}
    community  {{ community.name }} members redirect:{{ community.target.value }};
    {% endfor %}
{% endfor %}

{# ################################### #}

}



accounting-options

{

file SF-PRIMARY-{{ pop_name }}.data {

    archive-sites {

        "ftp://poprouter@local.ausm-popmgr-{{ pop_name }}-collector.bunny.com";

        "ftp://poprouter@aws.ausm-popmgr-collector.bunny.com";

    }
	
	files 25;
	
	size 5m;

    transfer-interval 30;

}

filter-profile SFAP-PRIMARY-{{ pop_name }} { # This filter Accounting profile name is static, It should be defined in the ADD POP template.

    file SF-PRIMARY-{{ pop_name }}.data;

    interval 10;

    counters {

        Gbl-Discard-BlackListSrcs;
        Gbl-Accept-WhiteListSrcs;
        Gbl-Continue-Final;
        Srvc-ISP-FilterHit-Final;
        Ctrl-Accept-GRE;
        Ctrl-Discard-GRE;
        Ctrl-Accept-BGP;
        Ctrl-Accept-Anycast;
        Ctrl-Limit-ICMP;
        Ctrl-Discard-ICMP;
        Ctrl-Discard-Private;
        Ctrl-Continue-Final;
    }

}

file OTE-Stats.data {
    size 1m;
    files 5;
    transfer-interval 30;
    archive-sites {
ftp://site.com;
    }
}
filter-profile OTE-Stats {
    file OTE-Stats.data;
    interval 10;
    counters {
        Empty_Counter;
    }
}



}




{# ---------------SNMP------------------ #}

snmp {
    v3 {
        usm {
            local-engine {
                user {{ snmp.username }} {
                {% if "authNoPriv" or "noAuthNoPriv" in snmp.auth_level  %}
                authentication-{{ snmp.auth_algo }} {
                       authentication-password {{ snmp.password }};
                    }
                    privacy-none;
                {% else %}
                authentication-{{ snmp.auth_algo }} {
                       authentication-password {{ snmp.password }};
                    }
                privacy-{{ snmp.crypto_algo }}{
                    privacy-password {{ snmp.crypto_password }};
                    }
                {% endif %}
                }
            }
        }
 vacm {
        security-to-group {
            security-model usm {
                security-name {{ snmp.username }} {
                    group perfmon;
                }
            }
        }
        access {
            group perfmon {
                default-context-prefix {
                    security-model usm {
                        {% if "authNoPriv" in snmp.auth_level %}
                         security-level authentication {
                        {% elif "noAuthNoPriv" in snmp.auth_level %}
                         security-level none {
                        {% elif "authPriv" in snmp.auth_level %}
                         security-level privacy {
                        {% endif %}
                            read-view ViewAllOIDs;
                        }
                    }
                }
            }
        }
    }
    snmp-community popmgr {
        security-name {{ snmp.username }};
    }
}
view interface_view {
    oid interfaces include;
}
view ViewAllOIDs {
    oid 1 include;
}
view ViewAll-01 {
    oid .1 include;
}
}


{# ROUTING INSTANCE #}
{# ####################################### #}
