


{% for data in del_traffic_data %}
    {% if data.isp_details.name is defined %}
    delete routing-options rib-groups VR-C-{{ customer_name  }}  import-rib VR-{{ data.isp_details.name }}.inet.0

    {% for bgp_community in data.del_community %}
        {% for prefix_list in bgp_community.prefix_list %}
            {% if prefix_list.name is equalto "ALL-PREFIXES" %}
                delete policy-options policy-statement {{ data.isp_details.name }}_Tag-Community term {{ data.isp_details.name }}_{{ bgp_community.community_name }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
            {% else %}
                delete policy-options policy-statement {{ data.isp_details.name }}_Tag-Community term {{ data.isp_details.name }}_{{ bgp_community.community_name }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
            {% endif %}
        {% endfor %}
   {% endfor %}

   {% for asn_expansions in data.del_asn %}
        {% if asn_expansions.asn_level is not equalto 'none' %}
            {% for prefix_list in asn_expansions.prefix_list %}
                {% if asn_expansions.asn_level is equalto 0 %}
                    {% if prefix_list.name is equalto "ALL-PREFIXES" %}
                        delete policy-options policy-statement {{ data.isp_details.name }}_Offnet_Export term Send_ClientRoutes-{{ asn_expansions.asn_level }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
                    {% else %}
                        delete policy-options policy-statement {{ data.isp_details.name }}_Offnet_Export term Send_ClientRoutes-{{ asn_expansions.asn_level }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
                    {% endif %}
                {% else %}
                    {% if prefix_list.name is equalto "ALL-PREFIXES" %}
                        delete policy-options policy-statement {{ data.isp_details.name }}_Offnet_Export term Send_ClientRoutes-Expand-{{ asn_expansions.asn_level }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
                    {% else %}
                        delete policy-options policy-statement {{ data.isp_details.name }}_Offnet_Export term Send_ClientRoutes-Expand-{{ asn_expansions.asn_level }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
   {% endfor %}
    {% endif %}
{% endfor %}

{% for data in add_traffic_data %}
    {% for isp_names in data.inboud_isp %}
         set routing-options rib-groups VR-C-{{ customer_name  }} import-rib [ VR-C-{{ customer_name  }}.inet.0 VR-{{ isp_names.name }}.inet.0  VR-CORE.inet.0 VR-INSERTION.inet.0 ]
         {% for bgp_community in data.community_names %}
                {% for prefix_list in data.prefix_list %}
                    {% if prefix_list.name is equalto "ALL-PREFIXES" %}
                        set policy-options policy-statement {{ isp_names.name }}_Tag-Community term {{ isp_names.name }}_{{ bgp_community.name }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
                    {% else %}
                        set policy-options policy-statement {{ isp_names.name }}_Tag-Community term {{ isp_names.name }}_{{ bgp_community.name }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
                    {% endif %}
            {% endfor %}
        {% endfor %}
        
        {% if data.asn_expansion is not equalto 'none' %}
            {% for prefix_list in data.prefix_list %}
                        {% if data.asn_expansion is equalto "0" %}
                             {% if prefix_list.name is equalto "ALL-PREFIXES" %} 
                                set policy-options policy-statement {{ isp_names.name }}_Offnet_Export term Send_ClientRoutes-{{ data.asn_expansion }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
                            {% else %}
                                set policy-options policy-statement {{ isp_names.name }}_Offnet_Export term Send_ClientRoutes-{{ data.asn_expansion }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
                            {% endif %}
                        {% else %}
                            {% if prefix_list.name is equalto "ALL-PREFIXES" %}
                                set policy-options policy-statement {{ isp_names.name }}_Offnet_Export term Send_ClientRoutes-Expand-{{ data.asn_expansion }} from prefix-list CPL-C-{{ customer_name }}.{{ prefix_list.name }}
                            {% else %}
                                set policy-options policy-statement {{ isp_names.name }}_Offnet_Export term Send_ClientRoutes-Expand-{{ data.asn_expansion }} from prefix-list CPL-C-{{ customer_name }}-{{ prefix_list.name }}
                            {% endif %}
                        {% endif %}
             {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
