interfaces {
  {% for int in interfaces %}
  {{ int.interface_name }} {
         {% for item3 in int.interface_configuration[:1] %}
    {% for item4 in  item3 %}
        {% if  "vlan" in item4 %}
            vlan-tagging;
        {% endif %}
    {% endfor %}
 {% endfor %}
       {% for param in int.interface_configuration %}
        unit {{ param.unit }} {
            {% if param.description is not defined %}
            {{ '' }}
            {% else %}
            description "{{ param.description }}";
            {% endif %}
            {% if "lt" in int.interface_name  %}
            encapsulation ethernet;
            {% else %}
            {{ '' }}
            {% endif %}
            {% if param.peer_unit is not defined %}
            {{ '' }}
            {% else %}
            peer-unit {{ param.peer_unit }};
            {% endif %}
            {% if param.vlan_id is not defined %}
            {{ '' }}
            {% else %}
            vlan-id {{ param.vlan_id }};
            {% endif %}

            
            family inet {
              address {{  param.ipv4_address }};
            }
        }
        {% endfor %}
    }
    {% endfor %}
lo0 {
## VR-{{ name }} Loopback Address
      unit 2 {
          description " VR-{{ name }} : Loopback ";
          family inet {
              address 1.1.1.2/32;
          }
     }
 }
}
routing-options {
    rib-groups {
        VR-{{ name }}
        {
            import-rib [ VR-ISP-1.inet.0 VR-CORE.inet.0  ]
        }
    }
}

policy-options {
## {{ name }} Export Policy Creation
  policy-statement {{ name }}_Offnet_Export { 
      term Send_Aggregate-0 {
          from {
              protocol aggregate;
              prefix-list PL-Aggregate-Export;
          }
          then accept;
      }
      term Send_ClientRoutes-0 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then accept;
      }
      term Send_ClientRoutes-Expand-1 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 1;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-2 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 2;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-3 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 3;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-4 {
          from {
              protocol bgp;
              prefix-list PL-Empty-Export;
          }
         then {
              as-path-expand last-as count 4;
              accept;
          }
      }
      term Send_ClientRoutes-Expand-5 {
          from {
              protocol static;
              prefix-list PL-Empty-Export;
          }
          then {
              as-path-expand last-as count 5;
              accept;
          }
      }
      term FINAL {
          then reject;
      }
    }
}

routing-instances {
    VR-CORE {
            interface {{ vr_core_routing_instance.interface }};
            protocols {
                ospf {
                    area 0.0.0.0 {
                      interface {{ vr_core_routing_instance.interface }};
                    }
            }
    }

}

VR-{{ name }} {
        instance-type virtual-router;
        {% for int in isp_routing_instance.interfaces %}        
        interface {{ int.name }};
        {% endfor %}
        interface lo0.2;
        routing-options {
            aggregate {
                route 1.1.1.0/24;
            }
            autonomous-system 100;
            }
        protocols {
            bgp {
                local-as {{ isp_routing_instance.local_as }};
                group {{ name }}{
                type external;
                    local-address {{ isp_routing_instance.local_address }};
                    export {{ name }}_Offnet_Export;
                     peer-as {{ isp_routing_instance.peer_as }};
                     neighbor {{ isp_routing_instance.neighbor_ip }}{
                            family inet {
                                unicast {
                                    rib-group {{ name }};
                                    }
                                }
                        }
                       }
                    }
            ospf {
                area 0.0.0.0 {
                    interface {{ isp_routing_instance.interfaces[1].name  }};
                    passive;
                }
            }
            interface {{ isp_routing_instance.interfaces[0].name }};
                interface lo0.2;
        }
        }
    }
                    

