{# INTERFACES BLOCK #}
{# ###################################### #}
interfaces
{
{% for item in interfaces %}  
 {{ item.interface_name }} 
{   
 {% for item3 in item.interface_configuration[:1] %}
    {% for item4 in  item3 %}
        {% if  "vlan" in item4 %}
            vlan-tagging;
        {% endif %}
    {% endfor %}
 {% endfor %}


    {% for item2 in item.interface_configuration %}
        unit {{ item2.unit }}
        {  
           {% if item2.description is not defined %}
                {{ '' }}
           {% else %}
           description "{{ item2.description }}";
            {% endif %}
           {% if item2.vlan_id is not defined %}
                 {{ '' }}
           {% else %} 
               vlan-id {{ item2.vlan_id }};
           {% endif %}
           family inet {
                address {{ item2.ipv4_address }};
            }
        }
        
        {% endfor %} 
}
{% endfor %}

lo0 {
   unit 0 {
       description " INET.0 : Loopback ";
       family inet {
           address 1.1.1.0/32;
       }
   }
   unit 1 {
       description " VR-CORE : Loopback ";
       family inet {
           address 1.1.1.1/32;
       }
   }
   unit 9 {
       description " VR-INSERTION : Loopback ";
       family inet {
           address 1.1.1.9/32;
       }
   }
}

}
{# INTERFACES BLOCK #}
{# ###################################### #}


routing-options {
static {
   route {{ routing_options.static.destination }} next-hop {{ routing_options.static.nexthop }};
}
    rib-groups {

        VR-CORE {
            import-rib [ VR-CORE.inetflow.0 inetflow.0 ];
        }
    }
}
protocols {
lldp {
   interface all;
}
}

firewall {
family inet {
   filter ISP-Offnet-Ctrl {
       term Discard_Unknown_BGP {
           from {
               source-prefix-list {
                   AP-BGP-Peers except;
               }
               protocol tcp;
               port bgp;
           }
           then {
               discard;
           }
       }
       term Bypass_Known_BGP {
           from {
               source-prefix-list {
                   AP-BGP-Peers;
               }
               protocol tcp;
               port bgp;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
       term Discard_Unknown_GRE {
           from {
               source-prefix-list {
                   AP-GRE-Remote-Peers except;
               }
               protocol gre;
           }
           then {
               discard;
           }
       }
       term Bypass_Known_GRE {
           from {
               source-prefix-list {
                   AP-GRE-Remote-Peers;
               }
               protocol gre;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
       term Discard_Unknown_ICMP {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes except;
                   Anycast-Aggregate except;
               }
               protocol icmp;
           }
           then {
               discard;
           }
       }
       term Limit_Known_ICMP {
           from {
               protocol icmp;
           }
           then {
               policer ISP-Offnet-Ctrl-ICMP;
               service-filter-hit;
               accept;
           }
       }
       term Allow_All {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
                   Anycast-Aggregate;
               }
           }
           then accept;
       }
   }
   filter Srvc_DNS {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonDNS {
           from {
               protocol-except [ tcp udp ];
               port-except domain;
           }
           then accept;
       }
       term Block_Customer_DNS {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol [ udp tcp ];
               port domain;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_DNS {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol [ udp tcp ];
               port domain;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_AllowAll {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Block_None {
           from {
               destination-prefix-list {
                   PL-Empty-Export;
                   Anycast-Aggregate;
               }
           }
           then {
               service-filter-hit;
               accept;
           }
       }
       term Allow_All {
           then accept;
       }
   }
   filter Srvc_HTTP {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonHTTP {
           from {
               protocol-except tcp;
               port-except http;
           }
           then accept;
       }
       term Block_Customer_HTTP {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port http;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_HTTP {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port http;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_HTTPS {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonHTTPS {
           from {
               protocol-except tcp;
               port-except https;
           }
           then accept;
       }
       term Block_Customer_HTTPS {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port https;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_HTTPS {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port https;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_NTP {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonNTP {
           from {
               protocol-except udp;
               port-except ntp;
           }
           then accept;
       }
       term Block_Customer_NTP {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol udp;
               port ntp;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_NTP {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol udp;
               port ntp;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_FTP {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonFTP {
           from {
               protocol-except tcp;
               port-except [ ftp ftp-data ];
           }
           then accept;
       }
       term Block_Customer_FTP {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port [ ftp ftp-data ];
           }
           then {
               discard;
           }
       }
       term Allow_Customer_FTP {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port [ ftp ftp-data ];
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_SSH {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonSSH {
           from {
               protocol-except tcp;
               port-except ssh;
           }
           then accept;
       }
       term Block_Customer_SSH {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port ssh;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_SSH {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port ssh;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_IMAP {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonIMAP {
           from {
               protocol-except tcp;
               port-except imap;
           }
           then accept;
       }
       term Block_Customer_IMAP {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port imap;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_IMAP {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port imap;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
   filter Srvc_POP3 {
       term SFH_Bypass {
           from {
               service-filter-hit;
           }
           then accept;
       }
       term Bypass_NonPOP3 {
           from {
               protocol-except tcp;
               port-except pop3;
           }
           then accept;
       }
       term Block_Customer_POP3 {
           from {
               destination-prefix-list {
                   PL-Empty-Export except;
               }
               protocol tcp;
               port pop3;
           }
           then {
               discard;
           }
       }
       term Allow_Customer_POP3 {
           from {
               destination-prefix-list {
                   AP-All-Customers-Prefixes;
               }
               protocol tcp;
               port pop3;
           }
           then {
               service-filter-hit;
               accept;
           }
       }
   }
}
policer ISP-Offnet-Ctrl-ICMP {
   if-exceeding {
       bandwidth-limit 500k;
       burst-size-limit 4k;
   }
   then discard;
}
}









{# ROUTING INSTANCE #}
{# ####################################### #}
routing-instances {

{# -------------------------VR-CORE-------------------------#}
{% for vr_core in bgp_routing_instance %}
{{ vr_core.name }}
{
  instance-type virtual-router;
  interface {{ vr_core.interface }};
  interface lo0.1;
  routing-options {
        flow {
              term-order standard;
        }
    }
  protocols {
       bgp {
            group {{ vr_core.bgpgroup }}{
                type internal;
                neighbor {{ vr_core.neighbour }} {
                    family inet {
                        flow {
                            rib-group {{ vr_core.name }};
                            no-validate NoValidate-MatchAll;
                        }
                    }

                    peer-as {{ vr_core.peer_as }};
                    local-as {{ vr_core.local_as }};
        }
    }
    }
    ospf {
        area {{ vr_core.ospf_area }}{
            interface lo0.1;
        }

    }
}
}
{% endfor %}
{# ################################################## #}

{# --------------------------VR-DIV------------------------ #}

{% for vr_div in vr_routing_instance %}

{{ vr_div.name }}
{
  instance-type vrf;
  vrf-target target:{{ vr_div.vrf_target }};
  route-distinguisher {{ vr_div.route_distinguisher }};
  interface {{ vr_div.interface }}  ;
  routing-options {
  {{ vr_div.route_details.type }}{
           route {{ vr_div.route_details.destination }} next-hop {{ vr_div.route_details.nexthop }};
    }
  }
}
{% endfor %}
{# ------------------------VR-CORE------------------------- #}


VR-INSERTION {
   instance-type virtual-router;
   {% for ins_div in insertion_vr %}
   interface  {{ ins_div.interface }};
    {% endfor %}
   interface lo0.9;
   protocols {
       ospf {
           area 0.0.0.0 {
               interface lo0.9;
           }
       }
   }
}

}

policy-options {

prefix-list PL-Empty-Export {
   127.0.0.1/32;
}
prefix-list PL-Aggregate-Export {
   1.1.1.0/24;
}
prefix-list AP-BGP-Peers {
   apply-path "routing-instances <*> protocols bgp group <*> neighbor <*>";
}
prefix-list AP-GRE-Remote-Peers {
   apply-path "interfaces <gr-*/*/*> unit <*> tunnel destination <*>";
}
prefix-list AP-All-Customers-Prefixes {
   apply-path "policy-options prefix-list <CPL-*> <*>";
}
prefix-list Anycast-Aggregate {
   1.1.1.128/25;
}
prefix-list PL-Aggregate-Import {
   86.0.0.0/8;
}
policy-statement NoValidate-MatchAll {
   term no_validate_matchAll {
       then accept;
   }
}



{# ########### POLICY ################ #}
{% for policyoption in policy_options %}

    {% for community in policyoption.community %}  
    community  {{ community.name }} members target:{{ community.target.value }};
    {% endfor %}
{% endfor %}

{# ################################### #}

}


{# ---------------SNMP------------------ #}

snmp {
    v3 {
        usm {
            local-engine {
                user {{ system.username }} {
                    authentication-md5 {
                        authentication-password {{ system.password }}
                    }
                    privacy-none;
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name observium {
                        group perfmon;
                    }
                }
            }
            access {
                group perfmon {
                    default-context-prefix {
                        security-model usm {
                            security-level authentication {
                                read-view ViewAllOIDs;
                            }
                        }
                    }
                }
            }
        }
        snmp-community popmgr {
            security-name observium;    
        }
    }
    view interface_view {
        oid interfaces include;
    }
    view ViewAllOIDs {
        oid 1 include;
    }
    view ViewAll-01 {
        oid .1 include;
    }
}



{# ROUTING INSTANCE #}
{# ####################################### #}




