delete interfaces {{ interfaces[0].interface_name }} unit {{ interfaces[0].interface_configuration[0].unit }}		
delete interfaces {{ interfaces[0].interface_name }} unit {{ interfaces[0].interface_configuration[1].unit }}		
delete {{ interfaces[1].interface_name }} unit {{ interfaces[1].interface_configuration[0].unit }}		
delete {{ interfaces[2].interface_name }} unit {{ interfaces[2].interface_configuration[0].unit }}		
delete routing-options rib-groups {{ routing_options.rib_group_name }} import-rib {{ routing_options.rib_table }}		
delete policy-options policy-statement {{ policy_options.name }}		
delete routing-instances {{ routing_instance.routing_instance_name }}		
