policy-options  {		
    policy-statement {{ policy_options[0].policy_statement }} {		
        term Send_ClientRoutes-Expand-1 {		
            from {		
                prefix-list {{ policy_options[0].prefix_list }};		
            }		
        }		
    }		
    policy-statement {{ policy_options[1].policy_statement }} {		
        term Send_ClientRoutes-Expand-1 {		
            from {		
                prefix-list {{ policy_options[0].prefix_list }};		
            }		
        }		
    }		
}		
