interfaces {
    {{ interfaces[0].interface_name }} {
    ## Interface from VR-CUSTOMER-1 to CPE-1
    unit {{ interfaces[0].interface_configuration[0].unit }} {
            description "{{ interfaces[0].interface_configuration[0].description }}";
            tunnel {
            ## Source is Loopback
                source {{ interfaces[0].interface_configuration[0].source }};
                destination {{ interfaces[0].interface_configuration[0].destination }};
                routing-instance {
                ## Tunnel is sourced from the Core
                destination {{ interfaces[0].interface_configuration[0].routing_instance_destination }};
                }
            }
            family inet {
            ## Interface for GRE Tunnel to CPE-1
                    address {{ interfaces[0].interface_configuration[0].ipv4_address }};
            }
    }
    }
    ## Interface for VR-CUSTOMER-1 to VR-CORE
    {{ interfaces[1].interface_name }} {
    unit {{ interfaces[1].interface_configuration[0].unit }} {
            description " {{ interfaces[1].interface_configuration[0].description }} ";
            encapsulation ethernet;
            peer-unit {{ interfaces[1].interface_configuration[1].unit }};
            family inet {
                address {{ interfaces[1].interface_configuration[0].ipv4_address }};
            }
    }   
    ## Interface for VR-CORE to VR-CUSTOMER-1
    unit {{ interfaces[1].interface_configuration[1].unit }} { 
    description "{{ interfaces[1].interface_configuration[1].description }} ";
    encapsulation ethernet;
    peer-unit {{ interfaces[1].interface_configuration[0].unit }};
            family inet {
                address {{ interfaces[1].interface_configuration[1].ipv4_address }};
            }
    }
    ## Interface for VR-CUSTOMER-1 to VR-INSERTION
    unit {{ interfaces[1].interface_configuration[2].unit }} {
    description " {{ interfaces[1].interface_configuration[2].description }} ";
    encapsulation ethernet;
    peer-unit {{ interfaces[1].interface_configuration[3].unit }};
    family inet {
            address {{ interfaces[1].interface_configuration[2].ipv4_address }}
        }
    }
    ## Interface for VR-INSERTION to VR-CUSTOMER-1
    unit {{ interfaces[1].interface_configuration[3].unit }} {
    description " {{ interfaces[1].interface_configuration[3].description }}  ";
    encapsulation ethernet;
    peer-unit {{ interfaces[1].interface_configuration[2].unit }};
    family inet {
            address {{ interfaces[1].interface_configuration[3].ipv4_address }};
        }
    }
    }
    {{ interfaces[2].interface_name }} {
    ## Loopback interface for VR-CUSTOMER-1
    unit {{ interfaces[2].interface_configuration[0].unit }} {
        description " {{ interfaces[2].interface_configuration[0].description }} ";
        family inet {
                address {{ interfaces[2].interface_configuration[0].ipv4_address }};
        }
    }
    }
}
routing-options {
    rib-groups {
    ## Interface for VR-INSERTION to VR-CUSTOMER-1
    {{ routing_options.rib_group_name }} {
        import-rib [ {{ routing_options.rib_group_name }}.inet.0 VR-ISP-1.inet.0 VR-ISP-2.inet.0 VR-IX.inet.0 VR-PEER-1.inet.0 VR-PEER-2.inet.0 VR-CORE.inet.0 VR-INSERTION.inet.0 ];
    }   
    }
}
policy-options {
        prefix-list {{ prefix_list[0].prefix_name }} {
        {{ prefix_list[0].prefix_network[0].network }};
        {{ prefix_list[0].prefix_network[1].network }};
        }
        policy-statement {{ policy-statements[0].name }} {
        term Final {
            then reject;
        }
        }
        policy-statement {{ policy-statements[1].name }} {
        term Accept_Expected_Only {
            from {
                prefix-list {{ prefix_list[0].prefix_name }};
            }
            then accept;
        }
        term Final {
            then reject;
        }
        }
        policy-statement {{ policy-statements[2].name  }} {
        term Final {
            then reject;
        }
        }
        policy-statement {{ policy-statements[3].name }} {
        term Accept_Expected_Only {
            from {
                prefix-list {{ prefix_list[1].prefix_name }};
            }
            then accept;
        }
        term Final {
            then reject;
        }
        }
        policy-statement {{ policy-statements[4].name }} {
        term Send_ClientRoutes-0 {
            from {
                prefix-list {{ prefix_list[0].prefix_name }};
            }
        }
        }
        policy-statement {{ policy-statements[5].name }} {
        term Send_ClientRoutes-0 {
            from {
                prefix-list {{ prefix_list[0].prefix_name}};
            }
        }
        }
}
}
routing-instances {
    {{ routing_instance[0].name }} {
    ## Interface for VR-CORE to VR-CUSTOMER-1
    interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[1].unit }};
    }
    protocols {
        ospf {
                area {{ routing_instance[0].ospf_area }} {
                ## add interface to OSPF
                interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[1].unit }};
             }
        }       
    }
    }
    ## create VR for the Customer
    {{ routing_instance[1].name }} {
    instance-type virtual-router;
    ## add ifd to VR-CORE, VR-INSERTION, GRE to CPE-1, and loopback
    interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[0].unit }};
    interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[2].unit }};
    interface {{ interfaces[0].interface_name }}.{{ interfaces[0].interface_configuration[0].unit }};
    interface {{ interfaces[2].interface_name }}.{{ interfaces[2].interface_configuration[0].unit }};
    routing-options {
            autonomous-system 100;
    }
    protocols {
        bgp {
            ## add peering to GRE peer @ CPE
            group {{ routing_instance[0].bgp_group }} {
            type external;
            local-address {{ routing_instance[0].local_address }};
            import {{ policy-statements[1].name }} ;
            export {{ policy-statements[0].name }} ;
            peer-as {{ routing_instance[0].peer_as }};
            local-as {{ routing_instance[0].local_as }};
            neighbor {{ routing_instance[0].neighbor }} {
            family inet {
                unicast {
                        rib-group {{ routing_instance[0].name }} ;
                    }
                }
            }   
            }
        }
        ospf {
            ## add interfaces to OSPF
            area {{ routing_instance[0].ospf_area }}  { 
            interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[0].unit }};
            interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[2].unit }};
            interface {{ interfaces[2].interface_name }}.{{ interfaces[2].interface_configuration[0].unit }};
        }
    }
    }
}
    {{ routing_instance[2].name }} {
    instance-type virtual-router;
    ## add interface to VR-CUSTOMER-X
    interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[3].unit }};
    protocols {
         ospf {
                area {{ routing_instance[2].ospf_area }} {
                ## add interface to OSPF
                interface {{ interfaces[1].interface_name }}.{{ interfaces[1].interface_configuration[3].unit }};
              }
        }
    }
    }
}
